main.page-main.main
  include partners
  +event-form().page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
