.search {
  .breadcrumbs {
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
    }
  }

  &__title {
    @extend .section-title;
  }

  &__form {
    @extend .section-inner;

    margin-bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      padding: 4rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 1.2rem;
    }
  }

  &__input-wrapper {
    position: relative;
  }

  &__input {
    padding: 0 9rem 0 2.4rem;

    @include mq('custom', 'max', 640) {
      padding: 0 8rem 0 1.2rem;
    }
  }

  &__buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.4rem;

    display: flex;
    justify-content: flex-end;

    svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    & > svg {
      margin-left: 1.8rem;

      @include mq('custom', 'max', 640) {
        margin-left: 1.4rem;
      }

    }
  }

  &__desc {
    display: inline-block;
    margin-bottom: 5.6rem;

    @extend .content-medium-text;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__list {
    margin-bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 2.4rem;
    padding: 3.2rem 0;

    border-bottom: 1px solid var(--grey-D-10);

    @include mq('custom', 'max', 1024) {
      padding: 2.8rem 0;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.4rem 0;
    }

    @include mq('custom', 'max', 640) {
      gap: 2rem;
      padding: 2rem 0;
    }


    &:first-child {
      padding-top: 0;

      @include mq('custom', 'max', 1024) {
        padding-top: 0;
      }

      @include mq('custom', 'max', 768) {
        padding-top: 0;
      }

      @include mq('custom', 'max', 640) {
        padding-top: 0;
      }
    }
  }

  &__item-icon {
    margin-top: 0.6rem;

    @include mq('custom', 'max', 640) {
      margin-top: 0.3rem;
    }

    svg {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &__item-title {
    margin-bottom: 2rem;

    @extend .title-h5;
    color: var(--main-base-0);

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.2rem;
    }
  }

  &__item-text {
    max-width: 90rem;
    margin-bottom: 3.2rem;

    @extend .content-regular-text;
    color: var(--grey-D-60);

    @include maxSizeText(2);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }

    b {
      font-weight: bold;
      color: var(--main-base-0);
    }
  }

  &__item-tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__item-tag {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }

  &__pagination {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;

    @include mq('custom', 'max', 768) {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  &__pagination-number {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    &.active {
      background-color: var(--grey-D-20);
    }

    &.hide {
      @include mq('custom', 'max', 768) {
        display: none;
      }
    }
  }

  &__pagination-arrow {
    display: none;
    height: 4rem;
    width: 4.8rem;
    padding: 0;

    color: var(--main-base-0);

    @include mq('custom', 'max', 768) {
      display: flex;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
      margin: 0;
    }

    &:first-child {
      margin-right: 0.4rem;
      transform: rotate(180deg);
    }
  }
}
