.documents-single {
  .breadcrumbs {
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
    }
  }

  &__header {
    margin-bottom: 4.2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 4rem;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @extend .title-h1;
    color: var(--main-base-0);
  }

  &__header-bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {

    }

    @include mq('custom', 'max', 640) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__header-address {
    @extend .content-huge-text;
    color: var(--main-base-0);

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }
}
