-
  const breadcrumbs = [
    ["Главная", "./index.html"],
    ["Автоматизация управленческого учёта на базе 1С", "#"]
  ]

section.integration-intro.page-section
  .narrow-container
    +breadcrumbs(breadcrumbs)
  .container
    +intro-section(
      "Комплексные решения",
      "Внедрение ERP",
      "Предлагаем комплексный подход к внедрению ERP-систем: от моделирования, оптимизации бизнес-процессов, подбора серверного оборудования до запуска системы в эксплуатацию.",
      "content-videos-1.jpg"
    )
