main.page-main.main
  +intro-section(
    "Комплексные решения",
    "Внедрение ERP",
    "Предлагаем комплексный подход к внедрению ERP-систем: от моделирования, оптимизации бизнес-процессов, подбора серверного оборудования до запуска системы в эксплуатацию.",
    "content-videos-1.jpg",
    [
      ["Главная", "./index.html"],
      ["Автоматизация управленческого учёта на базе 1С", "#"]
    ],
    true,
    "Оставить заявку",
    true
  ).page-section.page-section--first
  +cards-section("Наши проекты по внедрению ERP-систем", 3, 3).page-section--large-margin.integration-cards
  +content-block(
    "Что такое «1С: ERP Управление предприятием»?",
    "content-block-1.jpg"
  ).page-section--large-margin
  +features-section("Предпосылки реализации проекта по внедрению 1С:ERP").page-section--large-margin
  include integration-effect
  +accordions-section(
    "3 правила успешной реализации проекта по внедрению системы ERP",
    "Внедрение 1C:ERP является сложным комплексным проектом. При его планировании на компанию накладывается большое количество требований, соблюдение которых даст на выходе необходимый результат."
  ).page-section--large-margin
  +include-section(
    "От чего зависит стоимость проекта по внедрению 1C:ERP",
    "Внедрение ERP - это индивидуальный проект, стоимость которого зависит от многих параметров, которые включают в себя:",
    "include-section-1.jpg",
  ).page-section--large-margin
  +numered-features-section("Вы решили внедрять 1С:ERP и хотите узнать все детали? В рамках пресейла мы вам поможем:", true).page-section--large-margin
