main.page-main.main
  include integration-intro
  +cards-section("Наши проекты по внедрению ERP-систем", 3, 3).page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
