section.optimization-section
  .narrow-container
    h2.optimization-section__title
      | Как мы решаем вопросы по оптимизации производительности 1С
    .optimization-section__text
      p
        | Основной ключевой момент в процессе нашей работы - мы смотрим не только на «железную коробку», не ограничиваемся замерами производительности серверов, большое внимание уделяем именно анализу взаимодействия элементов системы и удобству работы пользователей.
    .optimization-section__top

    .optimization-section__bottom
