main.page-main.main
  section.news-single.page-section.page-section--large-margin
    include post-header
    include post-body

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
