.about-partners {
  &__slider {
    overflow: visible;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 14.8rem;

    border: 1px solid var(--grey-D-10);
    border-radius: 1.2rem;

    transition: 0.3s border-color;

    @include mq('custom', 'min', 1025) {
      &:hover {
        border-color: rgba(23, 79, 119, 0.5);
      }
    }

    @include mq('custom', 'max', 1024) {
      width: 28.4rem;
      height: 12rem;
    }

    @include mq('custom', 'max', 768) {
      width: 21.8rem;
      height: 9.2rem;
    }

    @include mq('custom', 'max', 640) {
      width: 15.2rem;
      height: 6.4rem;

      border-radius: 0.6rem;
    }

    img {
      max-width: 70%;
      max-height: 70%;
      object-fit: contain;
    }
  }
}
