.about-partners {
  &__slider {
    overflow: visible;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  &__slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35rem;
    height: 14.8rem;

    border: 1px solid var(--grey-D-10);
    border-radius: 1.2rem;

    transition: 0.3s border-color;

    &:hover {
      border-color: rgba(23, 79, 119, 0.5);
    }

    img {
      max-width: 70%;
      max-height: 70%;
      object-fit: contain;
    }
  }
}
