.about-geography {
  margin-bottom: 23rem;

  @include mq('custom', 'max', 1024) {
    margin-bottom: 16rem;
  }

  @include mq('custom', 'max', 768) {
    margin-bottom: 10rem;
  }

  @include mq('custom', 'max', 640) {
    margin-bottom: 4rem;
  }

  &__wrapper {
    position: relative;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq('custom', 'max', 1024) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__content {
    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__title {
    @extend .title-h2;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__cities {
    @extend .fully-filled-el;

    @include mq('custom', 'max', 1024) {
      position: static;

      display: flex;
      flex-wrap: wrap;
      margin-right: -0.4rem;
      margin-bottom: -0.4rem;
    }
  }

  &__city {
    position: absolute;

    display: inline-grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1.2rem;
    height: 3.5rem;
    padding: 0 1.2rem;

    border-radius: 0.6rem;
    background-color: var(--main-base-0);

    @extend .content-big-text;
    color: #fff;

    @include mq('custom', 'max', 1024) {
      position: static;

      margin-right: 0.4rem;
      margin-bottom: 0.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1rem;
      height: 3rem;

      border-radius: 0.4rem;

      font-size: 1.2rem;
    }

    &::before {
      content: '';

      width: 0.8rem;
      height: 0.8rem;

      border-radius: 50%;
      background-color: #fff;

      @include mq('custom', 'max', 640) {
        width: 0.4rem;
        height: 0.4rem;
      }
    }
  }

  &__card {
    padding: 5.6rem;

    border: 1px solid var(--main-base-0);
    border-radius: 2.4rem;
    background-color: #fff;

    @include mq('custom', 'max', 1024) {
      padding: 4.4rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 3.4rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2.4rem;
      border-radius: 2rem;
    }
  }

  &__card-countries {
    display: flex;
    flex-wrap: wrap;
    margin-right: -2.4rem;
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.2rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 1.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-right: -2rem;
      margin-bottom: 0;
    }
  }

  &__card-country {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 0.8rem;
    margin-right: 2.4rem;
    margin-bottom: 2.4rem;

    @include mq('custom', 'max', 640) {
      margin-right: 2rem;
      margin-bottom: 2rem;
    }

    @extend .title-h7;
    color: var(--main-base-0);

    svg {
      width: 2.4rem;
      height: 2.9rem;

      @include mq('custom', 'max', 640) {
        width: 1.8rem;
        height: 2.2rem;
      }
    }
  }

  &__card-numbers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.6rem;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem 1.2rem;
    }
  }

  &__card-digit {
    display: block;

    background-image: var(--gradient-01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font: var(--regular) 11rem/110% var(--secondary-ff);

    @include mq('custom', 'max', 1024) {
      font-size: 8.6rem;
    }

    @include mq('custom', 'max', 768) {
      font-size: 6.3rem;
    }

    @include mq('custom', 'max', 640) {
      font-size: 4rem;
    }
  }

  &__card-digit-desc {
    @extend .content-medium-text;
    color: rgba(23, 79, 119, 0.5);
  }

  &__bg {
    position: absolute;
    top: -13.6rem;
    left: -7.5rem;
    z-index: -1;

    width: 173.3rem;
    height: 97.8rem;
    max-width: none;
    object-fit: contain;

    @include mq('custom', 'max', 1024) {
      width: 150.7rem;
      height: 85rem;
    }

    @include mq('custom', 'max', 768) {
      width: 128.1rem;
      height: 72.3rem;
    }

    @include mq('custom', 'max', 640) {
      top: -0.7rem;
      left: -13.6rem;

      width: 105.5rem;
      height: 59.6rem;
    }
  }
}
