.about-history {
  &__title {
    @extend .section-title;
    @extend .title-h2;

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__tabs {
    overflow: visible;

    .swiper-wrapper {
      &::after {
        content: '';

        position: absolute;
        bottom: -1px;
        left: 0;
        transform: translateX(var(--active-tab-offset));

        width: var(--active-tab-width);
        height: 1px;

        background-color: var(--main-base-0);

        transition: 0.4s ease-in-out;
      }
    }
  }

  &__tab {
    width: auto;
    padding-bottom: 2.4rem;

    @extend .title-h6;
    color: rgba(23, 79, 119, 0.5);

    @include mq('custom', 'max', 640) {
      padding-bottom: 2rem;
    }

    &.tab-active {
      color: var(--main-base-0);
    }
  }

  &__contents {
    position: relative;
  }

  &__content {
    @extend .section-inner;

    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: 0.3s opacity, 0.3s visibility;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__content-title {
    margin-bottom: 3.2rem;

    @extend .title-h4;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__team {
    display: flex;
    align-items: flex-start;
    margin-bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      display: contents;
    }
  }

  &__team-content {
    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__team-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 3.2rem;

    @extend .content-medium-text;
    color: var(--main-D-10);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__team-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  &__team-item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.4rem;

    @extend .content-medium-text;
    color: var(--main-D-10);

    @include mq('custom', 'max', 640) {
      gap: 1.6rem;
    }

    &::before {
      content: '';

      width: 0.4rem;
      height: 0.4rem;
      margin-top: 0.8rem;

      border-radius: 50%;
      background-color: var(--main-D-10);

      @include mq('custom', 'max', 640) {
        margin-top: 0.6rem;
      }
    }
  }

  &__team-img {
    position: relative;

    width: 59.2rem;
    margin-left: 12rem;
    flex-shrink: 0;

    border-radius: 2rem;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      order: 1;
      margin-left: 0;
    }

    @include mq('custom', 'max', 768) {
      width: 100%;
    }

    @include mq('custom', 'max', 640) {
      border-radius: 1.2rem;
    }

    &::before {
      content: '';

      display: block;
      width: 100%;
      padding-top: 66.21%;

      @include mq('custom', 'max', 640) {
        padding-top: 68.57%;
      }
    }

    img {
      @extend .fully-filled-el;
      object-fit: cover;
    }
  }

  &__projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
      gap: 0.8rem;
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.4rem;
      margin-bottom: 3.2rem;
    }
  }

  &__project {
    @extend .white-card;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 3.2rem;

    transition: 0.3s border-color;

    @include mq('custom', 'min', 1025) {
      &:hover {
        border-color: rgba(23, 79, 119, 0.5);
      }
    }

    @include mq('custom', 'max', 1024) {
      gap: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    a {
      @extend .fully-filled-el;
    }
  }

  &__project-img {
    width: 12rem;
    height: 6.4rem;

    @include mq('custom', 'max', 1024) {

    }

    @include mq('custom', 'max', 768) {

    }

    @include mq('custom', 'max', 640) {
      width: auto;
      height: 2.4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__project-text {
    @extend .content-medium-text;
    color: var(--main-D-10);
  }
}
