main.page-main.main
  section.vacancy
    +post-header(
      [
        ["Главная", "./index.html"],
        ["Карьера", "./career.html"],
        ["Руководитель проектов 1С ERP", "#"]
      ],
      false,
      {
        isIcon: false,
        text: "ERP"
      },
      [
        {
          icon: "meta-icon-5-white.svg",
          desc: "Казань",
        },
        {
          icon: "meta-icon-6-white.svg",
          desc: "требуемый опыт работы: 1 год",
        },
        {
          icon: "meta-icon-2-white.svg",
          desc: "Занятость: полная",
        },
        {
          icon: "meta-icon-7-white.svg",
          desc: "формат работы: удаленка",
        },
      ],
      "Руководитель проектов 1С ERP",
      "Компания RDV приглашает кандидатов на позицию Консультанта 1С (системный аналитик) для участия в крупном проекте по комплексной автоматизации предприятия заказчика.",
      {
        path: "resume",
        text: "отправить резюме"
      },
      [
        "1С:ERP",
        "Казань",
        "Полная занятость",
        "опыт работы 1 год",
        "Удаленная работа",
        "Руководитель проектов"
      ]
    )
    include vacancy-info
    +resume-section().page-section
//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
