-
  const infoBlocks = [
    {
      title: "Обязанности",
      list: [
        "Автоматизация тестирования 70% времени, ручное - 30%;",
        "Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;",
        "Составление тестовой документации, в том числе разработка приемочных критериев;",
        "Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;",
        "Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;",
        "Демонстрация разработанного функционала пользователям;",
        "Сопровождение релизов",
      ]
    },
    {
      title: "Требования",
      list: [
        "Автоматизация тестирования 70% времени, ручное - 30%;",
        "Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;",
        "Составление тестовой документации, в том числе разработка приемочных критериев;",
        "Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;",
        "Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;",
        "Демонстрация разработанного функционала пользователям;",
        "Сопровождение релизов",
      ]
    },
    {
      title: "Приветствуется",
      list: [
        "Автоматизация тестирования 70% времени, ручное - 30%;",
        "Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;",
        "Составление тестовой документации, в том числе разработка приемочных критериев;",
        "Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;",
        "Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;",
        "Демонстрация разработанного функционала пользователям;",
        "Сопровождение релизов",
      ]
    },
    {
      title: "Условия",
      list: [
        "Автоматизация тестирования 70% времени, ручное - 30%;",
        "Функциональное, регрессионное и интеграционное тестирование Backend, тестирование связки мобильное приложение+ Backend;",
        "Составление тестовой документации, в том числе разработка приемочных критериев;",
        "Анализ функционала на наличие слабых мест, выявление дефектов и контроль их исправления;",
        "Активное взаимодействие с разработчиками, аналитиками, бизнес-экспертами;",
        "Демонстрация разработанного функционала пользователям;",
        "Сопровождение релизов",
      ]
    },
  ]

section.vacancy-info.page-section--large-margin
  .narrow-container
    for item in infoBlocks
      .vacancy-info__block
        h2.vacancy-info__block-title= item.title
        ul.vacancy-info__block-list
          for it in item.list
            li.vacancy-info__block-item= it
