.accordions-section {
  &__title {
    max-width: 95rem;
    margin-bottom: 3.2rem;

    @extend .title-h2;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.5rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 5.6rem;

    @extend .content-big-text;
    color: var(--main-D-10);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;
    }
  }

  &__accordions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4rem;

    counter-reset: order;
  }

  &__accordion {
    padding: 3.2rem;

    border-radius: 2.4rem;
    background-color: var(--grey-base-0);

    @include mq('custom', 'max', 1024) {
      padding: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      padding: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2rem;
      border-radius: 2rem;
    }

    &:nth-child(3n+1) .accordions-section__accordion-header::before {
      background: var(--gradient-01);
    }

    &:nth-child(3n+2) .accordions-section__accordion-header::before {
      background: var(--gradient-02);
    }

    &:nth-child(3n+3) .accordions-section__accordion-header::before {
      background: var(--gradient-03);
    }

    &.active {
      .accordions-section__accordion-button::after {
        transform: translate(-50%, -50%) rotate(0);
      }

      .accordions-section__accordion-mobile-button {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__accordion-header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 2.4rem;

    @include mq('custom', 'max', 1024) {
      gap: 2rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 1.6rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.2rem;
    }

    &::before {
      counter-increment: order;
      content: counter(order, decimal-leading-zero);

      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.2rem;
      height: 7.2rem;

      border-radius: 50%;

      @extend .title-h4;
      color: #fff;

      @include mq('custom', 'max', 1024) {
        width: 6.4rem;
        height: 6.4rem;
      }

      @include mq('custom', 'max', 768) {
        width: 5.6rem;
        height: 5.6rem;
      }

      @include mq('custom', 'max', 640) {
        width: 4.8rem;
        height: 4.8rem;
      }
    }
  }

  &__accordion-title {
    max-width: 52rem;

    @extend .title-h6;
    color: var(--main-base-0);

    @include mq('custom', 'max', 640) {
      font: var(--title-h7);
    }
  }

  &__accordion-button {
    position: relative;

    width: 7.2rem;
    height: 7.2rem;

    border-radius: 50%;
    background-color: var(--grey-D-10);

    @include mq('custom', 'max', 1024) {
      width: 6.4rem;
      height: 6.4rem;
    }

    @include mq('custom', 'max', 768) {
      display: none;
    }

    &::before, &::after {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 1.7rem;
      height: 1px;

      border-radius: 0.2rem;
      background-color: var(--main-base-0);

      transition: 0.3s;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__accordion-content {
    height: 0;
    margin: 0 9.6rem;

    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      margin: 0 8.6rem;
    }

    @include mq('custom', 'max', 768) {
      margin: 0;
    }

    & > *:first-child {
      margin-top: 2.4rem;

      @include mq('custom', 'max', 640) {
        margin-top: 2rem;
      }
    }
  }

  &__accordion-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    @extend .content-medium-text;
  }

  &__accordion-mobile-button {
    display: none;
    width: 100%;
    margin-top: 2rem;

    @include mq('custom', 'max', 768) {
      display: flex;
    }

    svg {
      margin-top: 0.2rem;
    }
  }
}
