.cards-section {
  &__inner {
    @extend .section-inner;
  }

  &__title {
    @extend .section-title;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.4rem;
    }
  }

  &__button {
    width: 100%;
    margin-top: 5.6rem;

    background-color: var(--grey-D-10);

    @include mq('custom', 'min', 1025) {
      &:hover {
        background-color: var(--grey-D-20);
      }

      &:focus {
        background-color: var(--grey-D-20);
      }
    }

    @include mq('custom', 'max', 1024) {
      margin-top: 4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 1.2rem;
    }
  }
}
