.catalog {
  padding-top: 4rem;

  .breadcrumbs {
    margin-bottom: 3.2rem;
  }

  &__title {
    @extend .title-h1;

    margin-bottom: 2rem;
  }

  &__desc {
    max-width: 44rem;
    margin-bottom: 4rem;

    font: var(--content-huge);
    letter-spacing: -0.02em;
    color: var(--main-base-0);
  }

  &__inner {
    @extend .section-inner;
  }

  &__filter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    margin-bottom: 5.6rem;
  }

  &__filter-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__tag {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    white-space: nowrap;
  }

  &__tag-radio:checked + &__tag-label {
    @extend .button--white;

    border-color: white;
  }

  &__tag-label {
    cursor: pointer;
  }

  &__buttons {
    display: flex;
  }

  &__search {
    position: relative;

    margin-right: 0.8rem;
    flex-shrink: 0;
  }

  &__date-button {
    margin-right: 1.2rem;
  }

  &__search-input {
    display: none;
  }

  &__grid-buttons {
    display: flex;
    flex-shrink: 0;

    border-radius: 0.8rem;
    overflow: hidden;
  }

  &__grid-button {
    border-radius: 0;
  }

  &__filter-bottom {
    background-color: #fff;
    border-radius: 0.8rem;

    & > * {
      margin: 2.4rem;
    }
  }

  &__subtags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__subtag-radio:checked + &__subtag-label {
    background-color: var(--main-base-0);
    color: #fff;

    svg {
      transform: scaleX(1);
      margin-left: 1rem;
    }
  }

  &__subtag-label {
    display: flex;
    align-items: center;
    height: 3.2rem;
    padding: 0 1.6rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    border: 1px solid var(--grey-L-10);
    border-radius: 99.9rem;
    cursor: pointer;

    @extend .button-small-text;
    color: var(--main-base-0);

    transition: color 0.3s, background-color 0.3s;

    svg {
      transform: scaleX(0);

      width: 0.8rem;
      height: 0.8rem;
      margin-left: -0.8rem;

      transition: 0.3s;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
  }

  &__button {
    width: 100%;
    height: 8rem;
    margin-top: 5.6rem;

    background-color: var(--grey-D-10);

    @include mq('custom', 'min', 1025) {
      &:hover, &:focus {
        background-color:  var(--grey-D-20);
      }
    }
  }
}
