.catalog {
  padding-top: 4rem;

  @include mq('custom', 'max', 640) {
    padding-top: 4.8rem;
  }

  .breadcrumbs {
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
    }
  }

  &__title {
    @extend .title-h1;

    margin-bottom: 2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.2rem;
    }
  }

  &__desc {
    max-width: 44rem;
    margin-bottom: 4rem;

    font: var(--content-huge);
    letter-spacing: -0.02em;
    color: var(--main-base-0);
  }

  &__inner {
    @extend .section-inner;

    @include mq('custom', 'max', 640) {
      padding: 1.2rem;
    }
  }

  &__filter {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.8rem;
    margin-bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.2rem;
    }
  }

  &__filter-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @include mq('custom', 'max', 1024) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.4rem;
      align-items: stretch;
    }
  }

  &__tags-block {
    padding-right: 3rem;

    @include mq('custom', 'max', 1024) {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.4rem;
      padding-right: 0;
    }
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__tag {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    white-space: nowrap;
  }

  &__tag-radio:checked + &__tag-label {
    @extend .button--white;

    border-color: white;

    &:hover {
      background-color: #fff;
    }
  }

  &__tag-label {
    cursor: pointer;
  }

  &__tag-more-button {
    height: 4rem;
    padding-right: 1.6rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }

    svg {
      width: 1.4rem;
      height: 1.4rem;
      margin: 0 0 0 1rem;
      margin-bottom: 0.2rem;
    }
  }

  &__tags-more {
    display: none;

    @include mq('custom', 'max', 1024) {
      display: flex;
    }
  }

  &__buttons {
    display: flex;
    width: 100%;
    max-width: 45.7rem;

    @include mq('custom', 'max', 1024) {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.4rem;
      max-width: none;
    }
  }

  &__search {
    position: relative;

    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin-right: 0.8rem;
    flex-shrink: 0;

    overflow: hidden;

    @include mq('custom', 'max', 640) {
      margin-right: 0.4rem;
    }

    &.active {
      .catalog__search-button {
        opacity: 0;
        visibility: hidden;
      }

      .catalog__search-input-block {
        left: 0;
      }
    }
  }

  &__search-button {
    transition: 0.2s;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__date-button {
    margin-right: 1.2rem;

    @include mq('custom', 'max', 1024) {
      margin-right: 0;
    }
  }

  &__search-input-block {
    position: absolute;
    left: 100%;

    width: 100%;

    transition: left 0.5s ease-in-out;

    @include mq('custom', 'max', 1024) {
      left: 0;
    }

    & > svg {
      position: absolute;
      left: 1.2rem;
      top: 50%;
      transform: translateY(-50%);

      width: 1.4rem;
      height: 1.4rem;
    }
  }

  &__search-reset {
    position: absolute;
    right: 1.4rem;
    top: 50%;
    transform: translateY(-50%);

    width: 1rem;
    height: 1rem;

    &::before {
      content: '';

      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      width: 200%;
      height: 200%;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &__search-input {
    padding-left: 4.2rem;
    padding-right: 3.4rem;
  }

  &__grid-buttons {
    display: flex;
    flex-shrink: 0;

    border-radius: 0.8rem;
    overflow: hidden;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__grid-button {
    border-radius: 0;
    color: var(--main-base-0);

    svg {
      transition: 0.3s opacity;
    }

    &.active {
      svg {
        opacity: 0.5;
      }
    }
  }

  &__filter-bottom {
    position: relative;

    background-color: #fff;
    border-radius: 0.8rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }

    & > * {
      padding: 2.4rem;
    }
  }

  &__filter-bottom-content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;

    opacity: 0;
    visibility: hidden;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__subtags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__subtag-radio:checked + &__subtag-label, &__month-checkbox:checked + &__month-label {
    background-color: var(--main-base-0);
    color: #fff;

    svg {
      transform: scaleX(1);
      margin-left: 1rem;
    }
  }

  &__subtag-label, &__subtag-more-button, &__month-label {
    display: flex;
    align-items: center;
    height: 3.2rem;
    padding: 0 1.6rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    border: 1px solid var(--grey-L-10);
    border-radius: 99.9rem;
    cursor: pointer;

    @extend .button-small-text;
    color: var(--main-base-0);

    transition: color 0.3s, background-color 0.3s, border-color 0.3s;

    @include mq('custom', 'min', 1025) {
      &:hover {
        border-color: rgba(23, 79, 119, 0.5);
      }

      &:focus {
        border-color: var(--main-base-0);
      }
    }

    svg {
      transform: scaleX(0);

      width: 0.8rem;
      height: 0.8rem;
      margin-left: -0.8rem;

      transition: 0.3s;
    }
  }

  &__date {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
  }

  &__date-tabs {
    position: relative;

    display: flex;
    padding-bottom: 2.4rem;

    border-bottom: 1px solid var(--grey-D-10);

    &::after {
      content: '';

      position: absolute;
      bottom: -1px;
      left: 0;
      transform: translateX(var(--active-tab-offset));

      width: var(--active-tab-width);
      height: 1px;

      background-color: var(--main-base-0);

      transition: 0.4s ease-in-out;
    }
  }

  &__date-tab {
    margin-right: 2.4rem;
    flex-shrink: 0;

    font: var(--button-meduim);
    white-space: nowrap;
    color: rgba(23, 79, 119, 0.5);
  }

  &__date-label {
    display: block;

    cursor: pointer;
    transition: 0.3s;

    &.tab-active {
      color: var(--main-base-0);
    }
  }

  &__date-contents {
    position: relative;
  }

  &__months {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-right: -0.4rem;
    margin-bottom: 0.4rem;

    opacity: 0;
    visibility: hidden;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 1199) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include mq('custom', 'max', 1024) {
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 768) {
      gap: 0.8rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.4rem;
    }

    &--list {
      grid-template-columns: 1fr;
    }
  }

  &__button {
    width: 100%;
    height: 8rem;
    margin-top: 5.6rem;

    background-color: var(--grey-D-10);

    @include mq('custom', 'min', 1025) {
      &:hover, &:focus {
        background-color:  var(--grey-D-20);
      }
    }

    @include mq('custom', 'max', 1024) {
      height: 7.2rem;
      margin-top: 4rem;
    }

    @include mq('custom', 'max', 768) {
      height: 6.4rem;
      margin-top: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      height: 5.6rem;
      margin-top: 1.2rem;
    }
  }
}
