.content-transition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
  min-height: 27.2rem;
  max-width: 39.4rem;

  border-radius: 1.6rem;
  background: radial-gradient(78.68% 140.06% at 100% 0%, #27AAB7 0%, #0E5A8E 100%);
  overflow: hidden;

  @extend .title-h5;
  color: #fff;

  &__desc {
    max-width: 24.2rem;
  }

  &__link {
    margin-left: auto;
  }
}
