.features-section {
  &__inner {
    @extend .section-inner;
  }

  &__title {
    max-width: 91rem;
    @extend .section-title;
    @extend .title-h2;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
      gap: 0.8rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.2rem;
    }
  }

  &__item {
    @extend .white-card;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2.4rem;

    @extend .content-big-text;

    @include mq('custom', 'max', 640) {
      gap: 2rem;
      border-radius: 1.2rem;
    }
  }

  &__item-icon {
    width: 7.2rem;
    height: 7.2rem;

    @include mq('custom', 'max', 1024) {
      width: 6rem;
      height: 6rem;
    }

    @include mq('custom', 'max', 768) {
      width: 5rem;
      height: 5rem;
    }

    @include mq('custom', 'max', 640) {
      width: 4rem;
      height: 4rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
