.numered-features-section {
  &--reverse {
    .numered-features-section__list {
      order: 1;
    }
  }

  &--tablet-none-gag {
    .numered-features-section__inner {
      @include mq('custom', 'max', 1024) {
        gap: 0;
      }
    }
  }

  &__title {
    max-width: 95rem;

    @extend .section-title;
    @extend .title-h2;
  }

  &__inner {
    @extend .section-inner;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 5.6rem;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: 1fr;
      gap: 4rem;
      padding: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 2.6rem;
      padding: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.2rem;
      padding: 1.2rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4rem;

    counter-reset: order;
  }

  &__item {
    position: relative;
    z-index: 1;

    @extend .white-card;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 2.4rem;

    @extend .content-medium-text;
    color: var(--main-D-10);

    @include mq('custom', 'max', 640) {
      gap: 2rem;
      border-radius: 1.2rem;
    }

    &::after {
      content: '';

      position: absolute;
      left: 3.2rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

      width: 7.2rem;
      height: 7.2rem;

      border-radius: 50%;
      background-color: var(--grey-base-0);

      @include mq('custom', 'max', 1024) {
        left: 2.8rem;

        width: 6.4rem;
        height: 6.4rem;
      }

      @include mq('custom', 'max', 768) {
        left: 2.4rem;

        width: 5.6rem;
        height: 5.6rem;
      }

      @include mq('custom', 'max', 640) {
        left: 2rem;

        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &::before {
      counter-increment: order;
      content: counter(order, decimal-leading-zero);

      display: flex;
      justify-content: center;
      align-items: center;
      width: 7.2rem;
      height: 7.2rem;

      border-radius: 50%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @extend .title-h4;

      @include mq('custom', 'max', 1024) {
        width: 6.4rem;
        height: 6.4rem;
      }

      @include mq('custom', 'max', 768) {
        width: 5.6rem;
        height: 5.6rem;
      }

      @include mq('custom', 'max', 640) {
        width: 4.8rem;
        height: 4.8rem;
      }
    }

    &:nth-child(7n+1)::before{
      background-image: var(--gradient-01);
    }

    &:nth-child(7n+2)::before{
      background-image: var(--gradient-02);
    }

    &:nth-child(7n+3)::before{
      background-image: var(--gradient-03);
    }

    &:nth-child(7n+4)::before{
      background-image: var(--gradient-04);
    }

    &:nth-child(7n+5)::before{
      background-image: var(--gradient-05);
    }

    &:nth-child(7n+6)::before{
      background-image: var(--gradient-06);
    }

    &:nth-child(7n+7)::before{
      background-image: var(--gradient-07);
    }
  }

  &__sticky-container {
    position: relative;
  }

  &__form {
    @extend .section-inner;

    position: relative;
    z-index: 1;

    width: 59.2rem;

    background-color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      width: 100%;
    }

    @include mq('custom', 'max', 640) {
      padding: 3.2rem 2rem;
      border-radius: 1.2rem;
    }

    &::before {
      content: '';

      position: absolute;
      left: -5.6rem;
      top: -17.8rem;
      z-index: -1;

      width: 97.7rem;
      height: 97.7rem;

      background: linear-gradient(213.09deg, #33E4D0 28.21%, rgba(76, 202, 187, 0.311997) 57.21%, rgba(76, 202, 187, 0.194775) 65.98%, rgba(76, 202, 187, 0.0811772) 73.64%, rgba(76, 202, 187, 0) 82.79%);
      opacity: 0.7;
      filter: blur(110px);
    }
  }

  &__form-title {
    margin-bottom: 3.2rem;

    @extend .title-h4;
    color: #fff;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__form-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
      gap: 0.6rem;
    }
  }

  &__input {
    @include mq('custom', 'max', 640) {
      height: 4.8rem;
      padding: 1.2rem 1.2rem 0;
    }
  }

  label.numered-features-section__label {
    @include mq('custom', 'max', 640) {
      left: 1.2rem;
    }
  }

  &__input-wrapper {
    &--large {
      grid-column: span 2;

      @include mq('custom', 'max', 768) {
        grid-column: span 1;
      }
    }
  }

  .confidence-block {
    margin: 0;
    color: #fff;
  }

  &__form-bottom {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2.4rem;
    width: 100%;
    align-items: center;

    @include mq('custom', 'max', 768) {
      grid-template-columns: 1fr;
      align-items: stretch;
    }

    @include mq('custom', 'max', 640) {
      gap: 2rem;
    }
  }

  &__content {
    width: 64.8rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__content-img {
    position: relative;

    margin-bottom: 3.2rem;
    padding-top: 69.13%;
    background: radial-gradient(78.35% 78.35% at 50% 50%, #1D689F 0%, #174F77 100%);;

    border-radius: 2rem;
    overflow: hidden;

    &::before {
      content: '';
    }

    img {
      @extend .fully-filled-el;
      left: 0;
      top: 0;
      object-fit: cover;
    }
  }

  &__content-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    max-width: 44rem;

    @extend .content-medium-text;
    color: var(--main-D-30);
  }
}
