.resume-section {
  &__inner {
    @extend .section-inner;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 3rem;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: 1fr;
      gap: 0;
    }

    @include mq('custom', 'max', 640) {
      padding-bottom: 3.2rem;
    }
  }

  &__title {
    margin-bottom: 2rem;

    @extend .title-h1;
    color: #fff;

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 5.6rem;

    @extend .content-huge-text;
    color: var(--white-50);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;

      font: var(--content-big);
      color: #fff;
    }
  }

  &__form {
    max-width: 62rem;

    @include mq('custom', 'max', 1024) {
      max-width: none;
    }
  }

  &__input {
    @include mq('custom', 'max', 640) {
      padding-left: 1.2rem;
      padding-right: 1.2rem;
    }
  }

  .resume-form .resume-form__label {
    @include mq('custom', 'max', 640) {
      left: 1.2rem;
    }
  }

  .resume-form__textarea {
    padding: 1.8rem 1.2rem;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: -0.4rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__social {
    margin-right: 0.4rem;
  }
}
