.speakers {
  &__slide-img {
    position: relative;
    z-index: 1;

    width: 100%;
    padding-top: 100%;
    margin-bottom: 1.6rem;

    border-radius: 1.2rem;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;

      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slide-title {
    margin-bottom: 0.2rem;

    @extend .content-big-text;
    color: var(--main-D-10);
  }

  &__slide-position {
    @extend .content-small-text;
    color: rgba(13, 54, 83, 0.5);
  }

  .slider-navigation {
    position: static;

    display: inline-grid;
    margin-top: 4rem;
  }
}
