extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Детальная документа"
  - const siteLang = "ru"

block content
  include pages/documents-single/main.pug
