extends layout/default.pug

block variables
  - const bodyClass = "page-home"
  - const pageTitle = "Оптимизация производительности 1С"
  - const siteLang = "ru"

block content
  include pages/optimization/main.pug
