-
  const decision = [
    {
      title: "Аудит SQL и 1С серверов",
      text: "Большую роль в быстродействии 1С играет серверная платформа, на базе которой работает учетная система. Мы уделяем особое внимание поиску проблем с ресурсами, определяем причины некачественной работы серверной структуру. Используем современные инструменты мониторинга и замеров ключевых параметров производительности, проводим нагрузочное тестирование аппаратных компонентов."
    },
    {
      title: "Оптимизация кода",
      text: "Наши специалисты обладают высокой технологической экспертизой, большим практическим опытом в модификации программного года, выявления неоптимальных \"кусков\" с целью повышения функционирования как системы в целом, так и отдельных ее модулей."
    },
    {
      title: "Упор на методологию и настройки системы",
      text: "В системе не обязательно должны быть включены все настройки и аналитики учета. Зачастую на начальных этапах бизнес просит функционал, который пригодится \"на всякий случай\", но в действительности он остается просто невостребованным. Неиспользуемый функционал дополнительно нагружает 1С, мешает развитию других функций, и при этом не приносит пользы. Чтобы это предотвратить, мы привлекаем методологов и аналитиков, которые проанализируют корректность настроек в учетной системы и предложат варианты оптимизации для повышения эффективности ее работы."
    },
  ]

section.decision.page-section--large-margin
  .container
    .decision__inner
      h2.decision__title
        | Передайте решение ваших IT задач профильной компании
      .decision__text
        p
          | В работе над проектом мы придерживаемся трех главных принципов:
      ul.decision__list
        for item in decision
          li.decision__item.js-more-text-container
            h3.decision__item-title= item.title
            .decision__item-text.js-more-text
              p= item.text
            button.decision__item-button.button.js-more-text-button
              span Раскрыть
              +icon-multi('arrow-down')
