main.page-main.main
  +content-block(
    "Что такое «Оптимизация производительности 1С»?",
    "content-block-1.jpg",
    true
  ).page-section--large-margin
  +numered-features-section("Вы решили внедрять 1С:ERP и хотите узнать все детали? В рамках пресейла мы вам поможем:").page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
