-
  const methods = [
    {
      title: "Проведение аудита",
      list: [
        {text: "Собираем текущие показатели нагруженности серверов (нагрузка на дисковую подсистему, оперативная память на сервере 1С и на SQL,  и т.д.)"},
        {text: "Настраиваем мониторинг оборудования, собираем технологические журналы 1С и журналы СУБД, а также внутренние счетчики ПО (APDEX)."},
        {text: "Собираем показатели пиковых нагрузок: ошибок, тяжелых запросов, блокировок системы 1С (технологический журнал)."},
        {
          text: "Определяем узкие места в конфигурации оборудования по данным мониторинга.",
          sublist: [
            "Второй уровень списка",
            "Примерный текстовый контент для списка",
          ]
        },
        {text: "Проводим анализ критичных проблем в технологическом журнале."},
        {text: "Выполняем поиск вариантов решения выявленных проблем (оптимизация кода, настройка ПО, изменение процессов, увеличение ресурсов оборудования)."},
        {text: "Проводим аудит настроек и при необходимости уточняем у пользователей, используются ли в работе данный функционал."},
        {text: "Сортируем проблемы по степени влияния на бизнес - в первую очередь решаем наиболее критичные."},
      ]
    },
    {
      title: "Оценка сроков и бюджетов для предоставления готового решения",
      list: [
        {text: "Выполняем оценку работ по оптимизации."},
        {text: "Прорабатываем план и сроки решения проблем, исходя из их критичности и ожидаемого результата."},
      ]
    },
    {
      title: "Оптимизация производительности и проведение испытаний",
      list: [
        {text: "Выполняем проверку счетчиков производительности 1С до и после внесения изменений для оценки фактического влияния работ по оптимизации."},
        {text: "Проводим испытания с повышенной нагрузкой, чтобы спланировать поведение системы в будущем и оценить запас прочности."},
        {text: "Предоставляем рекомендации по дальнейшей настройке систем мониторинга и ведению разработки."},
        {text: "При необходимости помогаем выстроить цикл разработки, позволяющий обеспечивать дальнейший рост и масштабирование."},
      ]
    },
  ]

section.methods.page-section--large-margin
  .narrow-container
    h2.methods__title
      | Как мы решаем вопросы по оптимизации производительности 1С
    .methods__text
      p
        | Основной ключевой момент в процессе нашей работы - мы смотрим не только на «железную коробку», не ограничиваемся замерами производительности серверов, большое внимание уделяем именно анализу взаимодействия элементов системы и удобству работы пользователей.
  .container
    .methods__inner
      h3.methods__subtitle
        | Работы по выявлению и устранению проблем включают в себя три этапа:
      .methods__accordions
        for item in methods
          .methods__accordion.js-accordion
            .methods__accordion-header.js-accordion-btn
              h4.methods__accordion-title= item.title
              button.methods__accordion-button
            .methods__accordion-content.js-accordion-content
              ul
                for it in item.list
                  li= it.text
                      //if it.sublist
                      //  ul.methods__accordion-item-sublist
                      //    for i in it.sublist
                      //      li.methods__accordion-item-sublist-item= i
            button.methods__accordion-mobile-button.button.button--medium.button--bordered.js-accordion-btn
              span.js-accordion-btn-text(data-more-text="Раскрыть" data-less-text="Свернуть") Раскрыть
              +icon-multi('arrow-down')
