main.page-main.main
  +post-header(
    [
      ["Главная", "./index.html"],
      ["Проекты", "./projects.html"],
      ["Novasport", "#"]
    ],
    false,
    false,
    [
      {
        desc: "E-COMMERCE",
      }
    ],
    "Novasport: Автоматизация процессов продавца при продаже товаров на маркетплейсах Ozon и Goods",
    "Автоматизация ежемесячной загрузки отчетов по продажам и оплатам и ведения взаиморасчетов с маркетплейсами, интеграция с маркетплейсами Ozon и goods, перенос всех бизнес-процессов в систему RDV.Маркет и отказ от текущей устаревшей учетной системы.",
    false,
    false,
    "tag tag--medium tag--border-grey",
    "post-header__text--small",
    "post-header__meta--project"
  )
  include ../../parts/project-block
  include projects
  +order-form("Давайте обсудим проект", "Мы ответим вам в самое ближайшее время").page-section--large-margin
