main.page-main.main
  include projects
  +order-form("Давайте обсудим проект", "Мы ответим вам в самое ближайшее время").page-section--large-margin
//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
