-
  const projects = [
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация",
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "Выставка E-com’23",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "Как подготовиться к распродажам на маркетплейсах Wildberries и Ozon",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "Пример большого заголовок карточки в три или более количества строк",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "Free",
        },
      ],
      title: "Как ускорить работу с карточками на Wildberries и Ozon в 2 раза из 1С",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      record: "Запись вебинара",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Получить запись"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1-white.png",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2-white.svg",
          text: "1 час",
        },
        {
          icon: "meta-icon-3-white.svg",
          text: "7500 Р.",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
  ]

-
  const projectTags = [
    {value: "1C"},
    {value: "Digital"},
    {value: "ERP"},
    {value: "E-commerce"},
    {value: "RDV Маркет"},
    {value: "1C"},
    {value: "Digital"},
    {value: "ERP"},
    {value: "E-commerce"},
    {value: "RDV Маркет"},
  ]

section.projects.page-section.page-section--first
  .narrow-container
    +breadcrumbs([
      ["Главная", "index.html"],
      ["Проектный опыт", "#"],
    ])
    h1.projects__title
      | Проектный опыт
    p.projects__text
      | Записи вебинаров, выступления на форумах и выставки
  .container
    .projects__inner.js-more-button-container
      form.projects__filter
        .projects__tags-block.js-more-button-container.js-more-button-row-container(data-tablet="true")
          ul.projects__tags
            each item, index in projectTags
              li.projects__tag.js-more-button-item.js-more-button-row-item
                input.projects__tag-input.visually-hidden(type="radio" name="projectsTags" id=`projectsTag${index}`)
                label.projects__tag-label.button.button--medium.button--bordered(for=`projectsTag${index}`)= item.value
            button.projects__tags-more.button.button--medium.button--bordered.js-more-button.js-more-button-row(data-count=5 type="button")
              span Ещё
              +icon-multi('arrow-down')
          button.projects__tags-more-mobile.button.button--icon.button--bordered(type="button")
            +icon-multi('elipsis-icon')
        .projects__search
          button.projects__search-button.button.button--icon.button--bordered(type="button")
            +icon-multi('search-icon')
          .projects__search-input-block
            +icon-multi('search-icon')
            input.projects__search-input.input.input--white.input--small.js-reset-input(type="text" name="catalogSearch" id="catalogSearch" placeholder="Поиск мероприятия" aria-label="Поиск мероприятия")
            button.projects__search-reset.js-reset-button(type="button")
              +icon-multi('cross-icon')
      ul.projects__list
         for item in projects
            li.projects__item.js-more-button-item
              +catalog-card(false, false, item.title, item.text, item.markets, false, false, false, buttonLink, "catalog-card-logo-1.png", true)
      button.projects__button.button.button--large.button--grey.js-more-button(data-count=6 data-mobile-count=3)
        | Показать еще
