mixin content-block(title, img, isTitleTop)
  section.content-block&attributes(attributes)
    .narrow-container
      if isTitleTop
        h2.content-block__title.content-block__title--top= title
      .content-block__wrapper
        .content-block__content
          unless isTitleTop
            h2.content-block__title= title
          .content-block__text
            p
              | Это флагманское современное решение фирмы 1С с широкими функциональными возможностями, которое обеспечивает управление всеми ресурсами компании. Система 1С: ERP Управление предприятием — это флагманское современное решение фирмы 1С с широкими функциональными возможностями, которое обеспечивает управление всеми ресурсами компании.
            p
              | ERP-система позволяет автоматизировать основные бизнес-процессы предприятия, эффективно управлять в едином информационном пространстве производством, продажами, складскими процессами, а также получать подробные данные по финансовым результатам и собирать управленческую отчетность.
            p
              | Внедрение 1С:ERP подходит для средних и крупных предприятий различных направлений деятельности.
          a.content-block__button.button.button--big.button--blue(href="#")
            | Подробнее
        .content-block__img
          +pictureLazy(img, "Фото блока")
