mixin event-form()
  .event-form&attributes(attributes)
    .container
      .event-form__inner.lazyload(data-bg="assets/images/contacts-section-bg.png")
        .event-form__content
          h2.event-form__title
            | Запишитесь на мероприятие
          .event-form__text
            p
              | Мы с вами свяжемся и обсудим все детали
          form.event-form__form(action="#" data-need-validation)
            .event-form__input-wrapper.input-wrapper
              input.event-form__input.input.input--big.input--white(type="text" name="eventRegName" id="eventRegName" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$" required)
              label.event-form__label(for="eventRegName")
                | Ваше Имя
            .event-form__input-wrapper.input-wrapper
              input.event-form__input.input.input--big.input--white(type="text" name="eventRegPosition" id="eventRegPosition" data-parsley-pattern="^[а-яА-ЯA-Za-z- ]+[^\s]+$" required)
              label.event-form__label(for="eventRegPosition")
                | Должность
            .event-form__input-wrapper.input-wrapper
              input.event-form__input.input.input--big.input--white.js-phone-input(type="tel" name="eventRegPhone" id="eventRegPhone" data-parsley-phone required)
              label.event-form__label(for="eventRegPhone")
                | Ваш телефон
            .event-form__input-wrapper.input-wrapper
              input.event-form__input.input.input--big.input--white(type="email" name="eventRegEmail" id="eventRegEmail" required)
              label.event-form__label(for="eventRegEmail")
                | Email
            .event-form__input-wrapper.event-form__input-wrapper--large.input-wrapper.input-wrapper--textarea
              textarea.event-form__textarea.input.input--big.input--white(name="eventRegComment" id="eventRegComment")
              label.event-form__label(for="eventRegComment")
                | Ваш комментарий
            button.event-form__button.button.button--big.button--yellow
              | Отправить
            +confidence-block("eventRegConfidence")
        .event-form__socials
          a.event-form__social.button.button--icon.button--icon-big.button--white-trasparent(href="#")
            +imgLazy("socials-footer-3.svg")
          a.event-form__social.button.button--icon.button--icon-big.button--white-trasparent(href="#")
            +imgLazy("socials-footer-6.svg")
          a.event-form__social.button.button--icon.button--icon-big.button--white-trasparent(href="#")
            +imgLazy("socials-footer-5.svg")
