-
  const brands = [
    {
      img: "brands-1.png",
    },
    {
      img: "brands-2.png",
    },
    {
      img: "brands-3.png",
    },
    {
      img: "brands-4.png",
    },
    {
      img: "brands-5.png",
    },
    {
      img: "brands-6.png",
    },
    {
      img: "brands-1.png",
    },
    {
      img: "brands-2.png",
    },
    {
      img: "brands-3.png",
    },
    {
      img: "brands-4.png",
    },
    {
      img: "brands-5.png",
    },
    {
      img: "brands-6.png",
    },
  ]

section.brands.page-section--large-margin
  .container
    .brands__slider.swiper.js-infinity-slider
      .swiper-wrapper
        for item in brands
          .brands__slide.swiper-slide
            img(src=`assets/images/${item.img}`, "Логотип бренда")
