main.page-main.main
  include intro
  +cards-section("Работаем с лидерами рынка", 6, 3)
  include features
  include expertise
  include advantages
  include quality
  include team
  include contacts-section
  include brands
