main.page-main.main
  include intro
  +cards-section("Работаем с лидерами рынка", 6, 3).page-section
  include features
  include expertise
  include advantages
  include quality
  include team-section
  include contacts-section
  include brands
