section.page-section.page-section--large-margin.reviews
  .container.container--mobile-padding-large
    .reviews__slider.js-reviews-slider.swiper
      ul.swiper-wrapper.reviews__list
        li.swiper-slide
          .reviews__item(data-src="assets/images/reviews/3.jpg" data-fancybox="review-group-1")
            img(src="assets/images/reviews/1.jpg" alt="Review")
        li.swiper-slide
          .reviews__item(data-src="assets/images/reviews/2.jpg" data-fancybox="review-group-1")
            img(src="assets/images/reviews/2.jpg" alt="Review")
        li.swiper-slide
          .reviews__item(data-src="assets/images/reviews/3.jpg" data-fancybox="review-group-1")
            img(src="assets/images/reviews/3.jpg" alt="Review")
        li.swiper-slide
          .reviews__item(data-src="assets/images/reviews/4.jpg" data-fancybox="review-group-1")
            img(src="assets/images/reviews/4.jpg" alt="Review")
