-
  const team = [
    {
      img: "team-1.jpg",
      position: "Разработчик"
    },
    {
      img: "team-2.jpg",
      position: "Старший аналитик"
    },
    {
      img: "team-3.jpg",
      position: "Руководитель проектов"
    },
    {
      img: "team-4.jpg",
      position: "Методолог"
    },
    {
      img: "team-5.jpg",
      position: "Функциональный архитектор"
    },
  ]

section.team-section.page-section--large-margin
  .narrow-container.container--mobile-padding-large
    h2.team-section__title
      | На вашем проекте будет работать команда профессионалов|
  .container
    .team-section__slider.swiper.js-init-slider(data-slides="auto" data-space="24")
      .swiper-wrapper
        for item in team
          .team-section__slide.swiper-slide
            +pictureLazy(item.img, "Фото сотрудника")
            span.team-section__position= item.position
      +slider-navigation('slider-navigation--grey')
