blockquote.blockquote
  .blockquote__icon
    +imgLazy('blockquote-icon.svg', "Иконка цитаты")
  .blockquote__text
    p
      | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует
  .blockquote__author
    .blockquote__author-img
      +pictureLazy("blockquote-1.jpg", "Фото автора")
    .blockquote__author-content
      cite.blockquote__author-name
        | Александр Павлов
      span.blockquote__author-position
        | Спикер направления
