.content-slider.swiper
  .swiper-wrapper
    .content-slider__slide.swiper-slide
      .content-slider__slide-img
        +pictureLazy("content-slider-1.jpg", "Контентое фото")
      .content-slider__slide-desc
        | Мелкая сноска с описанием фото
    .content-slider__slide.swiper-slide
      .content-slider__slide-img
        +pictureLazy("content-slider-1.jpg", "Контентое фото")
      .content-slider__slide-desc
        | Мелкая сноска с описанием фото
    .content-slider__slide.swiper-slide
      .content-slider__slide-img
        +pictureLazy("content-slider-1.jpg", "Контентое фото")
      .content-slider__slide-desc
        | Мелкая сноска с описанием фото
  +slider-navigation("slider-navigation--grey slider-navigation--medium")
  .swiper-pagination-bullets
