footer.content-footer
  p.content-footer__text
    | У нас есть большой опыт реализации подобных проектов. #[br]Обратитесь к нам за консультацией
  a.content-footer__link.button.button--big.button--blue(href="#")
    | Связаться
