.content-photos
  .content-photos__item
    .content-photos__item-img
      +pictureLazy("content-photos-1.jpg", "Контентое фото")
    .content-photos__item-desc
      | Мелкая сноска с описанием фото
  .content-photos__item
    .content-photos__item-img
      +pictureLazy("content-photos-1.jpg", "Контентое фото")
    .content-photos__item-desc
      | Мелкая сноска с описанием фото
