.content-videos
  .content-videos__item
    a.content-videos__item-block(data-fancybox href="https://rdv-it.ru/upload/medialibrary/4d1/4d1418be40f3aeed64efa6d6c8ea5315.mp4" data-src="https://youtu.be/qZRJbuXLHWQ")
      +pictureLazy("content-videos-1.jpg", "Превью к видео").content-videos__item-img
      span.content-videos__item-time.tag.tag--small.tag--grey
        | 23:48
      h4.content-videos__item-title
        | Примерный заголовок видео или анонс видео в одну или две строки
      .content-videos__item-button
        +icon-multi('play-icon')
    p.content-videos__item-desc
      | Мелкая сноска с описанием фото для видео
  .content-videos__item
    a.content-videos__item-block.lazyload(data-fancybox data-src="https://youtu.be/qZRJbuXLHWQ" href="#")
      +pictureLazy("content-videos-1.jpg", "Превью к видео").content-videos__item-img
      span.content-videos__item-time.tag.tag--small.tag--grey
        | 23:48
      h4.content-videos__item-title
        | Примерный заголовок видео или анонс видео в одну или две строки
      .content-videos__item-button
        +icon-multi('play-icon')
    p.content-videos__item-desc
      | Мелкая сноска с описанием фото для видео
