.content-photos
  .content-photos__item
    a.content-photos__item-img(data-fancybox data-src="assets/images/content-photos-1.jpg" href="#")
      +pictureLazy("content-photos-1.jpg", "Контентое фото")
    .content-photos__item-desc
      | Мелкая сноска с описанием фото
  .content-photos__item
    a.content-photos__item-img(data-fancybox data-src="assets/images/content-photos-1.jpg" href="#")
      +pictureLazy("content-photos-1.jpg", "Контентое фото")
    .content-photos__item-desc
      | Мелкая сноска с описанием фото
