.content-transition
  p.content-transition__desc
    | Переход с 1С:УПП на 1C:ERP
  a.content-transition__link.button.button--icon.button--icon-big.button--white-trasparent(href="#")
    +icon-multi('button-arrow')
