.content-videos
  .content-videos__item
    a.content-videos__item-block(data-fancybox data-src="https://youtu.be/qZRJbuXLHWQ" href="#")
      +pictureLazy("content-videos-1.jpg", "Превью к видео").content-videos__item-img
      span.content-videos__item-time.tag.tag--small.tag--grey
        | 23:48
      h4.content-videos__item-title
        | Примерный заголовок видео или анонс видео в одну или две строки
      .content-videos__item-button
        +icon-multi('play-icon')
    p.content-videos__item-desc
      | Мелкая сноска с описанием фото для видео
  .content-videos__item
    a.content-videos__item-block.lazyload(data-fancybox data-src="https://youtu.be/qZRJbuXLHWQ" href="#")
      +pictureLazy("content-videos-1.jpg", "Превью к видео").content-videos__item-img
      span.content-videos__item-time.tag.tag--small.tag--grey
        | 23:48
      h4.content-videos__item-title
        | Примерный заголовок видео или анонс видео в одну или две строки
      .content-videos__item-button
        +icon-multi('play-icon')
    p.content-videos__item-desc
      | Мелкая сноска с описанием фото для видео
