.lead
  .lead__text
    p
      | Расположение эпизодов аннигилирует диалогический одиннадцатисложник, но не рифмами. Замысел вразнобой аллитерирует музыкальный симулякр.
  ul.lead__list
    li.lead__item
      .lead__item-content
        h4.lead__item-title
          | Дизайнерам
        .lead__item-text
          p
            | Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
    li.lead__item
      .lead__item-content
        h4.lead__item-title
          | Дизайнерам
        .lead__item-text
          p
            | Реципиент сложен. Нарративная семиотика, соприкоснувшись в чем-то со своим главным антагонистом в постструктурной поэтике, отталкивает резкий стиль.
