section.project-block.page-section--large-margin
  .container
    .project-block__inner
      .project-block__logo
        +imgLazy("project-block-1.png", "Логотип проекта")
      .project-block__content
        h2.project-block__title
          | ООО «Никтон»
        .project-block__text
          p
            | ООО «Никтон» - ведущая российская научно-производственная компания, сосредоточившая свои интересы в области альтернативного использования никотина. Nicton работает с производителями никотина фармацевтического качества, поставляющими продукцию высшей степени очистки (99,7%) из Швейцарии и других стран. Компания разрабатывает новые продукты в области фармакологии, БАД и пищевых компонентов, сельского хозяйства и альтернативного потребления никотина. В процессе разработки продукции используются самые современные технологии.
        a.project-block__link.button.button--medium.button--bordered(href="#")
          +icon-multi("network-logo")
          span nicton.ru

