include variables

main.page-main.main
  +catalog(
    breadcrumbs,
    "Пресс-центр",
    "Актульная информация о нашей деятельности и полезные статьи",
    tags,
    catalog,
    true,
    "#"
  ).news-catalog
  include ../../parts/mailing

