-
  const breadcrumbs = [
    ["Главная", "./index.html"],
    ["Пресс-центр",]
  ]

-
  const tags = [
    {
      value: "1C",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "Digital",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "ERP",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "E-commerce",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "RDV Маркет",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
    {
      value: "Digital",
      subtags: [
        {value: "Управление холдингом"},
        {value: "Управленческий учет"},
        {value: "Бюджетирование"},
        {value: "Внедрение"},
        {value: "Интеграция"},
        {value: "Бухгалтерия"},
        {value: "Коммерция"},
      ]
    },
  ]

-
  const catalog = [
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "Выставка E-com’23",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "Как подготовиться к распродажам на маркетплейсах Wildberries и Ozon",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "Пример большого заголовок карточки в три или более количества строк",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "Как ускорить работу с карточками на Wildberries и Ozon в 2 раза из 1С",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      record: "Запись вебинара",
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
    {
      meta: [
        {
          text: "28 октября 2022",
        },
        {
          icon: "meta-icon-2.svg",
          text: "5 мин",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Читать"
    },
  ]

-
  const catalogDates = [
    {
      value: "Все года",
      active: true,
      months: [
        {value: "Январь"},
        {value: "Февраль"},
        {value: "Март"},
        {value: "Апрель"},
        {value: "Май"},
        {value: "Июнь"},
        {value: "Июль"},
        {value: "Август"},
        {value: "Сентябрь"},
        {value: "Октябрь"},
        {value: "Ноябрь"},
        {value: "Декабрь"},
      ]
    },
    {
      value: "2023",
      months: [
        {value: "Январь"},
        {value: "Февраль"},
        {value: "Март"},
        {value: "Апрель"},
        {value: "Май"},
        {value: "Июнь"},
        {value: "Июль"},
        {value: "Август"},
        {value: "Сентябрь"},
        {value: "Октябрь"},
        {value: "Ноябрь"},
        {value: "Декабрь"},
      ]
    },
    {
      value: "2022",
      months: [
        {value: "Январь"},
        {value: "Февраль"},
        {value: "Март"},
        {value: "Апрель"},
        {value: "Май"},
        {value: "Июнь"},
        {value: "Июль"},
        {value: "Август"},
        {value: "Сентябрь"},
        {value: "Октябрь"},
        {value: "Ноябрь"},
        {value: "Декабрь"},
      ]
    },
    {
      value: "2021",
      months: [
        {value: "Январь"},
        {value: "Февраль"},
        {value: "Март"},
        {value: "Апрель"},
        {value: "Май"},
        {value: "Июнь"},
        {value: "Июль"},
        {value: "Август"},
        {value: "Сентябрь"},
        {value: "Октябрь"},
        {value: "Ноябрь"},
        {value: "Декабрь"},
      ]
    },
    {
      value: "2020",
      months: [
        {value: "Январь"},
        {value: "Февраль"},
        {value: "Март"},
        {value: "Апрель"},
        {value: "Май"},
        {value: "Июнь"},
        {value: "Июль"},
        {value: "Август"},
        {value: "Сентябрь"},
        {value: "Октябрь"},
        {value: "Ноябрь"},
        {value: "Декабрь"},
      ]
    },
  ]
