include variables

main.page-main.main
  +catalog(
    breadcrumbs,
    "Мероприятия",
    "Записи вебинаров, выступления на форумах и выставки",
    tags,
    catalog
  ).page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
