-
  const breadcrumbs = [
    ["Главная", "./index.html"],
    ["Мероприятия",]
  ]

-
  const tags = [
    {value: "1C"},
    {value: "Digital"},
    {value: "ERP"},
    {value: "E-commerce"},
    {value: "RDV Маркет"},
    {value: "Digital"},
  ]

-
  const catalog = [
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "7500 Р.",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "7500 Р.",
        },
      ],
      title: "Выставка E-com’23",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "7500 Р.",
        },
      ],
      title: "Как подготовиться к распродажам на маркетплейсах Wildberries и Ozon",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "7500 Р.",
        },
      ],
      title: "Пример большого заголовок карточки в три или более количества строк",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "Free",
        },
      ],
      title: "Как ускорить работу с карточками на Wildberries и Ozon в 2 раза из 1С",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Регистрация"
    },
    {
      start: "30 марта 2023, 08:00",
      record: "Запись вебинара",
      meta: [
        {
          icon: "meta-icon-1.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-2.svg",
          text: "Конференция",
        },
        {
          icon: "meta-icon-3.svg",
          text: "7500 Р.",
        },
      ],
      title: "WildBerries и 1С: автоматизация создания карточек товаров на маркетплейсе и мониторинг цен на свои товары",
      text: "На вебинаре 6 октября мы подробно рассказали, с чего нужно начать подготовку к распродажам и поговорили про полезные инструменты RDV Маркет.",
      markets: [
        {value: "wildberries"},
        {value: "Ozon"},
        {value: "RDV Маркет"},
      ],
      buttonText: "Получить запись"
    },
  ]
