.post-header {
  padding: 4rem 0 5.6rem;

  .breadcrumbs {
    margin-bottom: 3rem;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 56rem;
    padding: 5.6rem;
    margin-bottom: 5.6rem ;

    border-radius: 3.2rem;
    background-color: var(--main-L-20);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__meta {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: stretch;
    margin-right: -1.6rem;
    margin-bottom: 2.4rem;
  }

  &__time {
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    white-space: nowrap;
  }

  &__meta-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1.6rem;
    margin-bottom: -1.6rem;
  }

  &__meta-item {
    display: flex;
    align-items: center;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;

    @extend .button-small-text;
    color: #fff;
  }

  &__meta-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 0.6rem;

    border-radius: 50%;
    background-color: var(--white-10);

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  &__share {
    margin-left: auto;
  }

  &__title {
    max-width: 104rem;
    margin-bottom: 3rem;

    @extend .title-h1;
    color: #fff;
  }

  &__button {
    margin-top: auto;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
  }

  &__tag {
    height: 3.2rem;
    padding: 0 1.6rem;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;

    &:hover {
      border-color: var(--grey-L-10);
    }
  }
}
