.socials {
  display: flex;
  align-items: center;
  margin-right: -0.4rem;

  &__item {
    margin-right: 0.4rem;
  }

  &__link {
    display: block;

    img {
      width: 2.6rem;
      height: 2.6rem;
    }
  }
}
