.table {
  width: 100%;
  overflow-x: auto;

  /*scrollbar-color: var(--main-L-20) white;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--grey-D-30);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--main-L-20);
    border-radius: 0;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }*/

}

table {
  width: 100%;
  min-width: 90rem;
  margin-bottom: 0.1rem;

  tr {
    width: 100%;

    font: 400 1.4rem/120% "Geometria";
    word-break: normal;
    letter-spacing: -0.02em;

    @include mq('custom', 'max', 640) {
      font-size: 1.2rem;
    }

    &--customer {
      grid-template-columns: repeat(4, auto) repeat(4, 1fr);

      &:not(:first-child) {
        font-weight: 400;
      }

      .table__cell:nth-child(8n + 1) {
        width: 5rem;
      }
    }
  }

  thead, th, thead td {
    font-weight: 500;

    text-align: left;
  }

  thead th {
    background-color: #3C87BC;
    color: white;
    border: 1px solid #3C87BC;
    padding: 2rem 1.6rem;

    font: var(--content-huge);
    letter-spacing: -0.01em;
    font-weight: 500;
  }

  tbody th {
    background-color: #F5F7FD;
    color: #3074A5;
    padding: 2rem 1.6rem;
    font: var(--content-medium);
  }

  tbody td {
    padding: 2rem 1.6rem;
    font: var(--content-regular);
    color: #0D3653;
  }

  tbody th,
  td {
    border-right: 1px solid var(--grey-D-30);
    border-bottom: 1px solid var(--grey-D-30);
  }

  tbody tr {
    border-left: 1px solid var(--grey-D-30);

    &:first-child {
      border-top: 1px solid var(--grey-D-30);
    }
  }

  td, th {
    padding: 1.6rem;
    min-width: 8rem;

    @include mq('custom', 'max', 768) {
      padding: 0.8rem;
    }

    &--big {
      width: 22rem;

      @include mq('custom', 'max', 1024) {
        width: 15rem;
      }

      @include mq('custom', 'max', 768) {
        width: 10rem;
      }

      @include mq('custom', 'max', 640) {
        width: 8rem;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem 0;

    li {
      position: relative;
      padding-left: 1.4rem;

      @extend .content-regular-text;
      color: var(--main-D-10);

      @include mq('custom', 'max', 640) {
        gap: 0.8rem;
      }

      &::before {
        position: absolute;
        top: 0.1rem;
        left: 0.2rem;

        content: '';

        width: 0.4rem;
        height: 0.4rem;
        margin-top: 0.5rem;

        border-radius: 50%;
        background-color: var(--main-D-10);

        @include mq('custom', 'max', 640) {
          margin-top: 0.4rem;
        }
      }
    }
  }

  ol {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    counter-reset: ordered-list;

    & > li {
      position: relative;
      counter-increment: ordered-list;

      padding-left: 2rem;

      &::before {
        position: absolute;
        left: 0;
        top: 0;
        content: counter(ordered-list) ".";
      }
    }
  }

  h1 {
    @extend .title-h1;
    margin-bottom: 0.5em;
  }

  h2 {
    @extend .title-h4;
    margin-bottom: 0.5em;
  }

  h3 {
    @extend .title-h6;
    margin-bottom: 0.5em;
  }

  b {
    font-weight: 700;
  }
}

.js-table-desktop {
  @include mq('custom', 'max', 768) {
    display: none;
  }
}

.js-table-mobile {
  min-width: unset;

  border: 1px solid #D1D6E3;

  @include mq('custom', 'min', 769) {
    display: none;
  }

  th {
    text-align: left;
  }

  td, th {
    border: none;
  }

  .odd {
    background-color: #F5F7FD;
  }

  .last {
    border-bottom: 1px solid #D1D6E3;
  }
}
