.table {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  min-width: 90rem;
  border-top: 1px solid var(--grey-D-30);
  border-left: 1px solid var(--grey-D-30);

  tr {
    width: 100%;

    font: 400 1.4rem/120% "Geometria";
    word-break: normal;
    letter-spacing: -0.02em;

    @include mq('custom', 'max', 640) {
      font-size: 1.2rem;
    }

    &--customer {
      grid-template-columns: repeat(4, auto) repeat(4, 1fr);

      &:not(:first-child) {
        font-weight: 400;
      }

      .table__cell:nth-child(8n + 1) {
        width: 5rem;
      }
    }
  }

  thead, th {
    font-weight: 700;
  }

  td, th {
    padding: 1.6rem;
    min-width: 8rem;

    border-right: 1px solid var(--grey-D-30);
    border-bottom: 1px solid var(--grey-D-30);

    @include mq('custom', 'max', 768) {
      padding: 0.8rem;
    }

    &--big {
      width: 22rem;

      @include mq('custom', 'max', 1024) {
        width: 15rem;
      }

      @include mq('custom', 'max', 768) {
        width: 10rem;
      }

      @include mq('custom', 'max', 640) {
        width: 8rem;
      }
    }
  }

  ul {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;

    li {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: flex-start;
      gap: 1.2rem;

      @extend .content-regular-text;
      color: var(--main-D-10);

      @include mq('custom', 'max', 640) {
        gap: 0.8rem;
      }

      &::before {
        content: '';

        width: 0.4rem;
        height: 0.4rem;
        margin-top: 0.5rem;

        border-radius: 50%;
        background-color: var(--main-D-10);

        @include mq('custom', 'max', 640) {
          margin-top: 0.4rem;
        }
      }
    }
  }
}

.js-table-desktop {
  @include mq('custom', 'max', 768) {
    display: none;
  }
}

.js-table-mobile {
  min-width: unset;

  border: 1px solid #D1D6E3;

  @include mq('custom', 'min', 769) {
    display: none;
  }

  th {
    text-align: left;
  }

  td, th {
    border: none;
  }

  .odd {
    background-color: #F5F7FD;
  }

  .last {
    border-bottom: 1px solid #D1D6E3;
  }
}
