.vacancy-card {
  @extend .white-card;
  display: flex;
  flex-direction: column;
  height: 100%;

  @include mq('custom', 'max', 640) {
    border-radius: 1.2rem;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: 2.8rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__tag {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }

  &__title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin-bottom: 3.2rem;

    font: var(--medium) 2.6rem/120% var(--main-ff);
    letter-spacing: -0.01em;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.4rem;
      margin-bottom: 2rem;

      font-size: 2.2rem;
    }

    &::after {
      content: '';

      width: 8rem;
      height: 0.4rem;

      border-radius: 99.9rem;
      background: var(--gradient-01);

      @include mq('custom', 'max', 768) {
        width: 6rem;
      }

      @include mq('custom', 'max', 640) {
        width: 4rem;
        height: 0.2rem;
      }
    }
  }

  &__conditions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    margin-bottom: 3.2rem;

    @extend .button-uppercase-text;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
      margin-bottom: 2rem;

      font: var(--button-small);
    }
  }

  &__text {
    margin-bottom: 3.2rem;

    @extend .content-regular-text;
    color: rgba(23, 79, 119, 0.5);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__buttons {
    display: flex;
    margin-right: -0.8rem;
    margin-top: auto;

    @include mq('custom', 'max', 768) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.4rem;
      margin-right: 0;
    }
  }

  &__button {
    margin-right: 0.8rem;

    @include mq('custom', 'max', 768) {
      height: 4rem;
      margin-right: 0;

      border-radius: 0.8rem;
    }
  }
}
