.integration-effect {
  &__title {
    max-width: 95rem;

    @extend .section-title;
    @extend .title-h2;

    @include mq('custom', 'max', 768) {
      margin-left: 1.2rem;
      margin-right: 1.2rem;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: flex-start;
    gap: 7.2rem;

    @include mq('custom', 'max', 1024) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__tabs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 38.4rem;

    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__tab {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    text-align: left;
    gap: 2rem;
    min-height: 5rem;
    padding: 0.6rem 0;

    @extend .title-h7;
    color: var(--main-base-0);

    transition: color 0.3s;

    &::before {
      content: '';

      align-self: stretch;
      width: 0.4rem;

      background-color: var(--grey-D-10);

      transition: 0.3s;
    }

    @include mq('custom', 'min', 1025) {
      &:hover {
        color: var(--main-L-30);
      }
    }

    &.tab-active {
      color: var(--main-L-30);

      &::before {
        background-color: var(--main-L-20);
      }
    }
  }

  &__contents {
    position: relative;
    min-width: 0;

    @include mq('custom', 'max', 1024) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.2rem;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    @extend .section-inner;
    padding: 3.2rem;

    opacity: 0;
    visibility: hidden;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }

    @include mq('custom', 'max', 1024) {
      position: static;

      padding: 2.8rem;

      opacity: 1;
      visibility: visible;

      &.active {
        .integration-effect__content-button svg {
          transform: rotate(180deg);
        }

        .integration-effect__content-title {
          color: var(--main-L-30);
        }
      }
    }

    @include mq('custom', 'max', 768) {
      padding: 2.8rem 1.2rem;
      border-radius: 2rem;
    }

    @include mq('custom', 'max', 640) {
      padding: 2.4rem 1.2rem;
    }
  }

  &__content-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1.6rem;
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 0;
      cursor: pointer;
    }
  }

  &__content-title {
    max-width: 62rem;

    @extend .title-h4;
    color: var(--main-base-0);

    @include mq('custom', 'max', 768) {
      font: var(--title-h7);
    }
  }

  &__content-button {
    display: none;

    @include mq('custom', 'max', 1024) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4.8rem;
      height: 4.8rem;

      border-radius: 50%;
      background-color: #fff;

      svg {
        width: 1.4rem;
        height: 1.4rem;
      }
    }

    @include mq('custom', 'max', 768) {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  &__accordion-content {
    @include mq('custom', 'max', 1024) {
      height: 0;
      overflow: hidden;
    }
  }

  &__content-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 5.6rem;

    @extend .content-medium-text;

    @include mq('custom', 'max', 1024) {
      margin-top: 2.8rem;
      margin-bottom: 4.4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 2.4rem;
      margin-bottom: 3.2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 2rem;
      margin-bottom: 2rem;

      font: var(--content-regular);
    }
  }

  &__slider {
    .slider-navigation {
      position: static;

      display: inline-grid;
      margin-top: 2.4rem;

      @include mq('custom', 'max', 1024) {
        display: none;
      }
    }
  }

  &__slide {
    height: 24.5rem;

    border-radius: 0.8rem;
    overflow: hidden;
    cursor: pointer;

    @include mq('custom', 'max', 1024) {
      height: 22.5rem;
    }

    @include mq('custom', 'max', 768) {
      height: 21em;
    }

    @include mq('custom', 'max', 640) {
      height: 19.5rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination-bullets {
    display: none;

    @include mq('custom', 'max', 1024) {
      position: static;

      display: flex;
      justify-content: center;
      margin-top: 1.6rem;

      span {
        margin: 0 0.8rem !important;
      }
    }
  }
}
