.intro {
  padding-top: 4.4rem;

  @include mq('custom', 'max', 640) {
    padding-top: 4.8rem;
  }

  &__title {
    @extend .section-title;

    max-width: 98rem;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 56rem;
    padding: 4.8rem 5.6rem 5.6rem;

    border-radius: 3.2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    color: #fff;

    @include mq('custom', 'max', 1024) {
      min-height: 54rem;
      padding: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      min-height: 52rem;
      padding: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      min-height: 50rem;
      padding: 1.2rem;

      border-radius: 2rem;
    }
  }

  &__slide-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-right: -1.6rem;
    margin-bottom: 2.4rem;
    padding-right: 8rem;

    @include mq('custom', 'max', 640) {
      margin-right: -0.8rem;
      margin-bottom: 2.2rem;
    }
  }

  &__slide-tag {
    display: flex;
    align-items: center;
    height: 3.2rem;
    padding: 0 1rem;
    margin-right: 1.6rem;
    margin-bottom: 1.6rem;
    flex-shrink: 0;

    border-radius: 99.9rem;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: default;

    font: var(--button-meduim);
    text-transform: uppercase;
    white-space: nowrap;
    color: #fff;

    @include mq('custom', 'max', 640) {
      height: 2.4rem;
      margin-right: 0.8rem;
      margin-bottom: 0.8rem;
    }

    &::before {
      content: '';

      width: 0.4rem;
      height: 0.4rem;
      margin-right: 0.8rem;

      border-radius: 50%;
      background-color: #fff;
    }
  }

  &__slide-title {
    @extend .title-h1;

    max-width: 111.5rem;
    margin-bottom: 1.8rem;

    cursor: default;

    @include mq('custom', 'max', 1024) {
      margin-top: auto;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__slide-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 82rem;
    margin-bottom: 3rem;

    cursor: default;

    font: var(--title-h5);

    @include mq('custom', 'max', 640) {
      margin-bottom: 3.2rem;

      font: var(--medium) 1.4rem/120% var(--main-ff);
      letter-spacing: -0.01em;
    }
  }

  &__slide-link {
    margin-top: auto;

    @include mq('custom', 'max', 1024) {
      margin-top: 0;
    }
  }

  &__slide-link {
    @include mq('custom', 'max', 640) {
      width: 100%;
    }
  }

  .slider-navigation {
    right: 5.6rem;
    bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      right: 3.6rem;
      bottom: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      display: none;
    }
  }

  .swiper-pagination {
    top: 4.8rem;
    right: 5.6rem;
    left: auto;

    @include mq('custom', 'max', 1024) {
      top: 3.6rem;
      right: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      top: 2.4rem;
      right: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      top: 1.2rem;
      right: 1.2rem;
    }
  }

  .swiper-pagination-bullets {
    display: none;
    margin-top: 1.6rem;

    @include mq('custom', 'max', 768) {
      display: flex;
    }
  }
}
