-
  const careerFilter = [
    {text: "Все", active: true},
    {text: "Бизнес аналитик"},
    {text: "Системный консультант"},
    {text: "Технический архитектор 1С"},
    {text: "Руководитель проектов"},
    {text: "Функциональный архитектор 1С"},
    {text: "Разработчик 1С"},
    {text: "Технический архитектор 1С"},
    {text: "Системный консультант"},
    {text: "Руководитель проектов"},
  ]

-
  const careerList = [
    {
      tag: "Руководитель проектов",
      title: "Руководитель проектов 1С ERP"
    },
    {
      tag: "Системный консультант",
      title: "Консультант 1С (системный аналитик)"
    },
    {
      tag: "Системный консультант",
      title: "Консультант 1С (системный аналитик)"
    },
    {
      tag: "Руководитель проектов",
      title: "Руководитель проектов 1С ERP"
    },
    {
      tag: "Руководитель проектов",
      title: "Руководитель проектов 1С ERP"
    },
    {
      tag: "Системный консультант",
      title: "Консультант 1С (системный аналитик)"
    },
  ]

section.career-search.page-section--large-margin
  .container
    .career-search__inner.js-more-button-container
      h2.career-search__title
        | Кого мы ищем
      form.career-search__form(action="#")
        .career-search__input-wrapper.input-wrapper
          input.career-search__input.input.input--big.input--white(type="text" name='careerSearch' id="careerSearch")
          label.career-search__label(for="careerSearch") Выбрать что-то
          +icon-multi('search-icon')
        .career-search__form-bottom
          ul.career-search__radio-list.js-more-button-container.js-more-button-row-container(data-desktop="true" data-tablet="true")
            each item, index in careerFilter
              li.career-search__radio-block.js-more-button-item.js-more-button-row-item
                input.career-search__radio.visually-hidden(type="radio" name="careerRadio" id=`careerRadio${index}` checked=!!item.active)
                label.career-search__radio-label.button.button--medium.button--bordered(for=`careerRadio${index}`)= item.text
            li.career-search__radio-more.button.button--medium.button--bordered.js-more-button(data-count="8")
              span +#[span.js-more-button-surplus 0]
            li.career-search__radio-more-mobile.button.button--medium.button--bordered.js-more-button-row(data-count="8")
              span +#[span.js-more-button-row-surplus 0]
      ul.career-search__list
        for item in careerList
          li.career-search__item.js-more-button-item
            +vacancy-card(item.tag, item.title)
      button.career-search__button.button.button--large.button--grey.js-more-button(data-count="4" data-mobile-count="4")
        | Показать еще



