section.career-gallery.page-section--large-margin
  .narrow-container
    h2.career-gallery__title
      | Наша атмосфера
    .career-gallery__text
      p
        | Нас уже больше 100 человек и у каждого своя история которая связывает с компанией
    +content-slider(true)
