main.page-main.main
  +intro-section(
    "Рады знакомству",
    "Карьера",
    "Присоединяйтесь к динамично развивающейся команде профессионалов",
    "career-intro-1.jpg",
    [
      ["Главная", "./index.html"],
      ["Карьера", "#"]
    ],
    false,
    "Отправить резюме"
  ).page-section.page-section--first.career-intro
  +features-section("Почему выбирают нас").page-section--large-margin
  include career-gallery
  +content-inner-block(
    "Стажерская программа RDV START",
    "Приглашаем студентов последних курсов, выпускников вузов, специалистов начального уровня квалификации принять участие в отборе на стажерскую программу «RDV START».",
    "content-inner-block-1.jpg"
  ).page-section--large-margin
  include career-search
  include ../../parts/resume-section

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
