.documents {
  .breadcrumbs {
    margin-bottom: 3.2rem;

    @include mq('custom', 'max', 640) {
      margin-bottom: 2.4rem;
    }
  }

  &__title {
    @extend .section-title;
  }

  &__list {
    @extend .section-inner;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;

    @include mq('custom', 'max', 1024) {
      padding: 3.6rem;
    }

    @include mq('custom', 'max', 768) {
      grid-template-columns: repeat(2, 1fr);
      gap: 0.8rem;
      padding: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      grid-template-columns: 1fr;
      gap: 0.4rem;
      padding: 1.2rem;
    }
  }

  &__item {
    @extend .white-card;

    transition: 0.3s border-color;

    @include mq('custom', 'min', 1025) {
      &:hover {
        border-color: var(--main-base-0);

        .documents__item-link {
          color: var(--main-base-0);
        }
      }
    }

    @include mq('custom', 'max', 640) {
      padding: 2rem;

      border-radius: 1.2rem;
    }
  }

  &__item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.2rem;
    height: 7.2rem;
    margin-bottom: 3.2rem;

    border-radius: 50%;
    background-color: var(--grey-base-0);

    color: var(--grey-D-30);

    transition: none;

    @include mq('custom', 'max', 1024) {
      width: 6.5rem;
      height: 6.5rem;
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      width: 6rem;
      height: 6rem;
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      width: 5.6rem;
      height: 5.6rem;
      margin-bottom: 2rem;
    }

    &::before {
      content: '';

      @extend .fully-filled-el;
    }

    svg {
      width: 3rem;
      height: 3rem;

      transition: 0.3s;

      @include mq('custom', 'max', 1024) {
        width: 2.6rem;
        height: 2.6rem;
      }

      @include mq('custom', 'max', 768) {
        width: 2.3rem;
        height: 2.3rem;
      }

      @include mq('custom', 'max', 640) {
        width: 2rem;
        height: 2rem;
      }
    }
  }

  &__item-title {
    margin-bottom: 1.6rem;

    @extend .title-h5;
    color: var(--main-base-0);

    @include mq('custom', 'max', 640) {
      margin-bottom: 0.8rem;
    }
  }

  &__item-text {
    @extend .content-regular-text;
    color: rgba(23, 79, 119, 0.5);
  }
}
