.career-search {
  &__inner {
    @extend .section-inner;
  }

  &__title {
    @extend .section-title;
    @extend .title-h2;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-bottom: 5.6rem;

    @include mq('custom', 'max', 1024) {
      gap: 1.6rem;
      margin-bottom: 4.8rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 1.2rem;
      margin-bottom: 4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
      margin-bottom: 3.2rem;
    }
  }

  &__input-wrapper {
    svg {
      position: absolute;
      right: 2.4rem;
      top: 50%;
      transform: translateY(-50%);

      width: 1.4rem;
      height: 1.4rem;

      @include mq('custom', 'max', 640) {
        right: 1.6rem;
      }
    }
  }

  &__input {
    padding-right: 6rem;
  }

  &__form-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 2rem;
  }

  &__radio-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: -0.4rem;
    max-width: 125rem;
  }

  &__radio-block {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }

  &__radio:checked + &__radio-label {
    background-color: #fff;
    border-color: #fff;
  }

  &__radio-label {
    cursor: pointer;
  }

  &__radio-more, &__radio-more-mobile {
    cursor: pointer;
    height: 4rem;
  }

  &__radio-more {
    @include mq('custom', 'max', 1024) {
      display: none;
    }
  }

  &__radio-more-mobile {
    display: none;

    @include mq('custom', 'max', 1024) {
      display: flex;
    }
  }

  &__radio-burger {
    display: none;

    @include mq('custom', 'max', 1024) {
      display: flex;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;

    @include mq('custom', 'max', 1024) {
      gap: 1.6rem;
    }

    @include mq('custom', 'max', 768) {
      gap: 1rem;
      grid-template-columns: 1fr;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.4rem;
    }
  }

  &__item {
    @extend .white-card;
  }

  &__item-tags {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-bottom: 2.8rem;

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 1.6rem;
    }
  }

  &__item-tag {
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
  }

  &__item-title {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;
    margin-bottom: 3.2rem;

    font: var(--medium) 2.6rem/120% var(--main-ff);
    letter-spacing: -0.01em;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 1.4rem;
      margin-bottom: 2rem;

      font-size: 2.2rem;
    }

    &::after {
      content: '';

      width: 8rem;
      height: 0.4rem;

      border-radius: 99.9rem;
      background: var(--gradient-01);

      @include mq('custom', 'max', 768) {
        width: 6rem;
      }

      @include mq('custom', 'max', 640) {
        width: 4rem;
        height: 0.2rem;
      }
    }
  }

  &__item-conditions {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.2rem;
    margin-bottom: 3.2rem;

    @extend .button-uppercase-text;
    color: var(--main-base-0);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      gap: 0.8rem;
      margin-bottom: 2rem;

      font: var(--button-small);
    }
  }

  &__item-text {
    margin-bottom: 3.2rem;

    @extend .content-regular-text;
    color: rgba(23, 79, 119, 0.5);

    @include mq('custom', 'max', 1024) {
      margin-bottom: 2.8rem;
    }

    @include mq('custom', 'max', 768) {
      margin-bottom: 2.4rem;
    }

    @include mq('custom', 'max', 640) {
      margin-bottom: 2rem;
    }
  }

  &__item-buttons {
    display: flex;
    margin-right: -0.8rem;
    margin-top: auto;

    @include mq('custom', 'max', 768) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 0.4rem;
      margin-right: 0;
    }
  }

  &__item-button {
    margin-right: 0.8rem;

    @include mq('custom', 'max', 768) {
      height: 4rem;
      margin-right: 0;

      border-radius: 0.8rem;
    }
  }

  &__button {
    width: 100%;
    margin-top: 5.6rem;

    background-color: var(--grey-D-10);

    @include mq('custom', 'max', 1024) {
      margin-top: 4rem;
    }

    @include mq('custom', 'max', 768) {
      margin-top: 2.6rem;
    }

    @include mq('custom', 'max', 640) {
      margin-top: 1.2rem;
    }

    @include mq('custom', 'min', 1025) {
      &:hover {
        background-color: var(--grey-D-20);
      }
    }
  }
}
