-
  const table1 = [
    "Наименование (полное/сокращенное наименование с указанием организационно-правовой формы)",
    "ИНН",
    "КПП",
    "ОГРН или ОГРНИП",
    "Адрес местонахождения",
    "Почтовый адрес",
    "Наименование банка",
    "БИК",
    "К/С",
    "Р/С",
  ]

-
  const table2 = [
    {
      cells: [
        {text: "№"},
        {big: true, text: "Ф.И.О"},
        {big: true, text: "Должность"},
        {big: true, text: "Email"},
        {text: "Направление заявок"},
        {text: "Утверждение Заданий"},
        {text: "Приемка результатов оказания Услуг"},
        {text: "Подписание актов сдачи-приемки Услуг"},
      ]
    },
    {
      cells: [
        {text: ""},
        {big: true, text: ""},
        {big: true, text: ""},
        {big: true, text: ""},
        {text: "Да / Нет *"},
        {text: "Да / Нет *"},
        {text: "Да / Нет *"},
        {text: "Да / Нет *"},
      ]
    },
  ]

-
  const table3 = [
    "ФИО подписанта",
    "Должность подписанта",
    "Основание для подписания",
    "Подпись и печать"
  ]

section.documents-single.page-section--large-margin.page-section--first
  .narrow-container
    +breadcrumbs(
      [
        ["Главная", "index.html"],
        ["Правовые документы", "documents.html"],
        ["Публичная оферта о заключении договора возмездного оказания услуг", "#"],
      ]
    )
    header.documents-single__header
      h1.documents-single__title
        | Публичная оферта о заключении договора возмездного оказания услуг
      .documents-single__header-bottom
        address.documents-single__header-address
          | г. Москва, «01» октября 2020 г.
        a.documents-single__header-link.button.button--medium.button--bordered(href="#" download)
          span выгрузить документ
          +icon-multi('document-stroke-icon')
  .documents-text-container
    p
      | Нdастоящая Публичная оферта (далее также — Оферта) — адресованное индивидуальным предпринимателям и юридическим лицам (далее «Заказчик») публичное предложение Общества с ограниченной ответственностью «РДВ Автоматизация» (далее — «Исполнитель») заключить договор на оказание услуг по проектированию, разработке, адаптации, модификации, внедрению, сопровождению программ для ЭВМ (далее — «Услуги») в соответствии с п. 2 ст. 437 Гражданского кодекса Российской Федерации. Исполнитель и Заказчик далее по тексту Оферты также совместно именуются «Стороны», а по отдельности «Сторона». Договор оказания Услуг (далее — «Договор») считается заключенным на условиях, указанных в настоящей Оферте, с момента совершения юридическим лицом или индивидуальным предпринимателем действий по Акцепту Оферты, предусмотренных в настоящей Оферте, и является рамочным договором (договором с открытыми условиями) в смысле, установленном ст. 429.1. Гражданского кодекса Российской Федерации.
    p
      | Актуальная версия Оферты размещена и обновляется на Сайте Исполнителя по адресу: #[a(href="https://rdv-it.ru/legal/oferta-service/") https://rdv-it.ru/legal/oferta-service/]
    h2
      | 1. Термины и определения
    ol
      li 1.1. «Акцепт Оферты» — полное и безоговорочное принятие Заказчиком условий Оферты, выраженное в направлении Заказчиком в адрес Исполнителя подтверждения согласия Заказчика с заключением Договора на условиях Оферты в порядке, установленном разделом 3 настоящей Оферты.
      li 1.2. «Запрос на присоединение к Оферте» (далее — «Запрос») — оформленный в соответствии с Приложением № 1 к настоящей Оферте документ, подтверждающий согласие Заказчика с заключением Договора на условиях Оферты.
      li 1.3. «Заявка» — направленные Заказчиком в адрес Исполнителя в порядке, предусмотренном разделом 5 настоящей Оферты сведения о запрашиваемых у Исполнителя Услугах.
      li 1.4. «Задание» — направленное Исполнителем в адрес Заказчика в порядке, предусмотренном разделом 6 настоящей Оферты, сообщение, содержащее конкретные, уточняющие условия оказания Услуг во исполнение Договора.
      li 1.5. «Сайт Исполнителя» — совокупность размещенных в сети Интернет веб-страниц, доступных по доменному адресу #[a(href="#") www.rdv-it.ru].
      li 1.6. «Трекинговая система» — функционал, доступный Заказчику по адресу #[a(href="https://jira.rdv-it.ru/servicedesk/customer/user/")], и используемый Заказчиком в соответствии с разделом 4 настоящей Оферты.
      li 1.7. «Личный кабинет» — связанный с учетной записью Заказчика персональный раздел Заказчика, доступный в сети Интернет по адресу #[a(href="#") https://client.rdv-it.ru/] после прохождения процедуры регистрации в соответствии с разделом 4 настоящей Оферты.
      li 1.8. «Регламент SLA» — Регламент Исполнителя по обработке обращений Заказчика и оказания Услуг, размещенный Исполнителем в сети Интернет по адресу #[a(href="https://rdv-it.ru/services/podderzhka-sistem-1s/dogovor-sla/") https://rdv-it.ru/services/podderzhka-sistem-1s/dogovor-sla/].
    h2
      | 2. Предмет договора
    ol
      li 2.1. Исполнитель за плату на условиях настоящей Оферты и утвержденного Задания обязуется оказать Заказчику Услуги, а Заказчик обязуется принять и оплатить оказанные Исполнителем Услуги.
      li 2.2.Вид, объем, сроки, стоимость и иные условия оказания Услуг утверждаются Сторонами в Заданиях.
    h2
      | 3. Порядок акцепта оферты
    ol
      li 3.1. Направление Заказчиком на адрес электронной почты Исполнителя #[a(href="#") support@rdv-it.ru], или посредством Личного кабинета скан-копии подписанного уполномоченным представителем Заказчика Запроса, является Акцептом настоящей Оферты.
      li 3.2.К Запросу должен быть приложен документ, подтверждающий полномочие представителя Заказчика подписать Договор от имени Заказчика.
      li 3.3.Исполнитель оставляет за собой право внести изменения в условия настоящей Оферты при обязательном уведомлении Заказчика по электронной почте или посредством Трекинговой системы или Личного кабинета в срок не позднее 14 (четырнадцати) календарных дней до момента вступления в силу изменений. Измененные в порядке, предусмотренном настоящим пунктом, условия Оферты не распространяются на отношения Сторон, связанные с Заданиями, утвержденными Сторонами до момента вступления в силу указанных изменений.
      li 3.4.Исполнитель оставляет за собой право отозвать настоящую Оферту в любой момент по своему усмотрению при обязательном уведомлении Заказчика по электронной почте или посредством Трекинговой системы или Личного кабинета в срок не позднее 14 (четырнадцати) календарных дней до момента отзыва настоящей Оферты. При этом Задания, утвержденные Сторонами до момента отзыва настоящей Оферты, должны быть исполнены в порядке, предусмотренном условиями настоящей Оферты.
    h2
      | 16. Реквизиты компании исполнителя
    p Наименование: ООО «РДВ АВТОМАТИЗАЦИЯ»
    p Юридический адрес: 105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, этаж 3, помещение I, комната 22А
    p ИНН: 9701081484
    p КПП: 770101001
    p Расчетный счет: 40702810702830002717
    p Корреспондентский счет: 30101810200000000593
    p БИК: 044525593
    p Наименование банка: АО «АЛЬФА-БАНК»
    p Телефон: +7 (495) 127-03-47
    p Адрес электронной почты (E-mail): #[a(href="#") info@rdv-it.ru]
    p Генеральный директор Рошаль А.В.
    h2
      | Приложение № 1
    p
      | К публичной оферте о заключении договора возмездного оказания услуг по проектированию, разработке, адаптации, модификации, внедрению, сопровождению программ для ЭВМ
    p
      | Запрос на присоединение к публичной оферте о заключении договора возмездного оказания услуг по проектированию, разработке, адаптации, модификации, сопровождению, внедрению программ для ЭВМ
    p
      | г. Москва
    h3
      | 1. Настоящим Заказчик:
    .table
      table
        for item in table1
          tr
            td= item
            td
    p
      | Направляет Обществу c ограниченной ответственностью «ООО „РДВ АВТОМАТИЗАЦИЯ“», ОГРН 1177746679110, ИНН 9701081484 (далее — «Исполнитель»), акцепт (полное и безоговорочное принятие) Публичной оферты о заключении договора возмездного оказания услуг по разработке, адаптации, модификации, сопровождению, внедрению программ для ЭВМ (далее — «Договор»), размещенной на сайте Исполнителя в сети Интернет по адресу: www.rdv-it.ru/legal/oferta-service/ (далее — «Оферта»);
    p
      | Подтверждает, что соответствующие действия, совершенные нижеуказанными представителями Заказчика в процессе взаимодействия с Исполнителем в рамках заключенного Договора в предусмотренном условиями Оферты порядке, признаются совершенными с использованием простой электронной подписи Заказчика.
    h3
      | 2. Перечень представителей Заказчика:
    .table
      table
        for item in table2
          tr
            for it in item.cells
              td= it.text
    p
      | <sup>*</sup> Необходимо указать признак назначения роли на каждого представителя. Любой сотрудник Заказчика, направляющий Заявки, должен иметь право на Приемку результатов оказанных услуг.
    .table
      table
        for item in table3
          tr
            td= item
            td
