section.about-quote.page-section--large-margin
  .container
    blockquote.about-quote__inner
      .about-quote__text
        p
          | За свою карьеру я пропустил более 9000 бросков, проиграл почти 300 игр. 26 раз мне доверяли сделать финальный победный бросок, и я промахивался.
      cite.about-quote__author
        | Александр Рошаль
      span.about-quote__position
        | Генеральный директор
      +pictureLazy("about-quote-1.png", "Автор цитаты").about-quote__img
