main.page-main.main
  include about-intro
  include about-features
  include about-geography
  include about-quote
  include about-awards
  include about-partners
  include about-history
  include about-mission
  include about-downloads
  +order-form("Оставьте заявку", "Мы с вами свяжемся и обсудим все детали").page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
