-
  const largeTeam = [
    {
      img: "large-team-1.jpg",
      title: "Александр Рошаль",
      position: "Генеральный директор",
    },
    {
      img: "large-team-2.jpg",
      title: "Павел Дробленко",
      position: "Технический директор",
    }
  ]

-
  const team = [
    {
      img: "team-page-1.jpg",
    },
    {
      img: "team-page-2.jpg",
    },
    {
      img: "team-page-3.jpg",
    },
    {
      img: "team-page-4.jpg",
    },
    {
      img: "team-page-5.jpg",
    },
    {
      img: "team-page-6.jpg",
    },
    {
      img: "team-page-7.jpg",
    },
  ]

section.team.page-section--large-margin.page-section--first
  .narrow-container
    +breadcrumbs([
      ["Главная", "./index.html"],
      ["О компании", "./about.html"],
      ["Наша команда", "#"]
    ])
    h1.team__title
      | Наша команда
    ul.team__large-list
      li.team__description
        p
          | Наша компания представляет собой сплоченную и позитивную команду профессиональных специалистов. Наша задача состоит в том, чтобы дать возможность каждой организации достичь большего, ведь главное для нас - это наши клиенты.
      for item in largeTeam
        li.team__large-item
          .team__large-item-img
            +pictureLazy(item.img, "Фото сотрудника")
            .team__large-item-desc
              p
                | Павел имеет серьезный опыт построения IT архитектуры заказных систем на 1С (разработка приложений с нуля), интеграции систем 1С как между собой, так и с приложениями ИТ ладшафта компаний. Успешно занимается постановкой требований к IT инфраструктуры для систем 1С и ее развертыванием.
              p
                | Так же имеет опыт в постановке систем управления проектами, опыт развертывания систем управления коммуникациями с заказчиком, релизами и систем сервисной поддержки пользователей.
          h3.team__large-item-title= item.title
          span.team__large-item-position= item.position
    ul.team__list
      for item in team
        li.team__item
          +pictureLazy(item.img, "Фото сотрудника")
      li.team__more-card
        .team__more-content
          span.team__more-number 64+
          span.team__more-desc сотрудников
    button.team__button.button.button--big.button--bordered
      | Показать еще
