section.team-gallery.page-section--large-margin
  .narrow-container
    h2.team-gallery__title.section-title
      | Наша атмосфера
    +content-slider(true, true)

    h2.team-gallery__title.section-title
      | Ещё слайдер
    +content-slider(true, true)
