main.page-main.main
  include requisites
  +order-form("Нужна консультация?", "Наши специалисты ответят на любой интересующий вопрос").page-section--large-margin

//-

          @include mq('custom', 'max', 1024) {

          }

          @include mq('custom', 'max', 768) {

          }

          @include mq('custom', 'max', 640) {

          }

//
