-
  const requisites = [
    {
      title: "Реквизиты ООО «РДВ АВТОМАТИЗАЦИЯ»",
      list: [
        {
          title: "Полное наименование",
          text: "Общество с ограниченной ответственностью «РДВ АВТОМАТИЗАЦИЯ»"
        },
        {
          title: "Сокращенное наименование",
          text: "ООО «РДВ АВТОМАТИЗАЦИЯ»"
        },
        {
          title: "ИНН",
          text: "9701081484"
        },
        {
          title: "КПП",
          text: "770101001"
        },
        {
          title: "Юридический адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, этаж 3, помещение I, комната 22А"
        },
        {
          title: "Почтовый адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, а/я 26"
        },
        {
          title: "Фактический адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, этаж 3, офис 305"
        },
        {
          title: "Схема проезда",
          text: "Вход со стороны ул. Бауманская д.6, стр. 2, БЦ «Виктория Плаза»"
        },
        {
          title: "Генеральный директор",
          text: "Рошаль Александр Вячеславович"
        },
        {
          title: "Главный бухгалтер",
          text: "Бартулева Екатерина Алексеевна"
        },
        {
          title: "Телефон",
          text: "+7 (495) 127-03-47"
        },
        {
          title: "Телефон бухгалтерской службы",
          text: "+7 (495) 150-34-39"
        },
        {
          title: "Электронная почта",
          text: "info@rdv-it.ru"
        },
        {
          title: "Сайт",
          text: "rdv-it.ru"
        },
        {
          title: "БИК",
          text: "044525593"
        },
        {
          title: "Р/С",
          text: "40702810702830002717"
        },
        {
          title: "Банк",
          text: "АО «АЛЬФА-БАНК»"
        },
        {
          title: "Кор. счет",
          text: "30101810200000000593"
        }
      ]
    },
    {
      title: "Реквизиты ООО «РДВ СОФТ»",
      list: [
        {
          title: "Полное наименование",
          text: "Общество с ограниченной ответственностью «РДВ АВТОМАТИЗАЦИЯ»"
        },
        {
          title: "Сокращенное наименование",
          text: "ООО «РДВ АВТОМАТИЗАЦИЯ»"
        },
        {
          title: "ИНН",
          text: "9701081484"
        },
        {
          title: "КПП",
          text: "770101001"
        },
        {
          title: "Юридический адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, этаж 3, помещение I, комната 22А"
        },
        {
          title: "Почтовый адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, а/я 26"
        },
        {
          title: "Фактический адрес",
          text: "105066, г. Москва, Красносельская нижн. ул., дом. 35, строение 64, этаж 3, офис 305"
        },
        {
          title: "Схема проезда",
          text: "Вход со стороны ул. Бауманская д.6, стр. 2, БЦ «Виктория Плаза»"
        },
        {
          title: "Генеральный директор",
          text: "Рошаль Александр Вячеславович"
        },
        {
          title: "Главный бухгалтер",
          text: "Бартулева Екатерина Алексеевна"
        },
        {
          title: "Телефон",
          text: "+7 (495) 127-03-47"
        },
        {
          title: "Телефон бухгалтерской службы",
          text: "+7 (495) 150-34-39"
        },
        {
          title: "Электронная почта",
          text: "info@rdv-it.ru"
        },
        {
          title: "Сайт",
          text: "rdv-it.ru"
        },
        {
          title: "БИК",
          text: "044525593"
        },
        {
          title: "Р/С",
          text: "40702810702830002717"
        },
        {
          title: "Банк",
          text: "АО «АЛЬФА-БАНК»"
        },
        {
          title: "Кор. счет",
          text: "30101810200000000593"
        }
      ]
    },
  ]

section.requisites.page-section--first.page-section--large-margin
  .narrow-container
    +breadcrumbs([
      ["Главная", "index.html"],
      ["Реквизиты", "#"],
    ])
    h1.requisites__title
      | Реквизиты
    .requisites__text
      p
        | При появлении вопросов обращайтесь с помощью формы обратной связи на сайте или по email #[a.link(href="mailto:buh@rdv-it.ru") buh@rdv-it.ru]
    .requisites__blocks
      for item in requisites
        .requisites__block
          .requisites__block-header
            h2.requisites__block-title= item.title
            .requisites__block-buttons
              button.requisites__block-link.button.button--medium.button--bordered.js-copy-requisites
                span Скопировать
                +icon-multi("copy-icon")
              a.requisites__block-link.button.button--medium.button--blue(href="#" download)
                span Скачать
                +icon-multi("document-stroke-icon")
          ul.requisites__block-list
            for it in item.list
              li.requisites__block-item
                h3.requisites__block-item-title= it.title
                p.requisites__block-item-text= it.text

